/* Header style */
.site-logo img{
    width: 200px;
    height: 100px;
    position: relative;
    left: -25px;
  }


/* Media query for smaller screens */
@media (max-width: 1500px) {
    .site-logo img {
        width:128%;
        position: relative;
        height: 117%;
        margin-left:70%;
    }
}

