/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, form, input, button {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Apply a background color and font styles to the entire page */
body {
    font-family: Arial, sans-serif;
    background-color:#f8f8f8; /* Light gray background */
    color: #333;
}

/* Header Styles */
header {
    background-color: #fff; /* White header background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    max-height: 90px;
    margin-left: -20px;
}

/* Navigation Styles */
.navbar ul {
    text-align: center;
  margin: 0;
  padding: 0px;
  overflow: hidden;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li{
    float: left;
}


.navbar ul li a {
  display: block;
  color: #333333;
  font-size:17px;
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
}


a.active , a.active:hover {
        border: 1px solid #ff069a;
        border-radius: 5px;
      }

/* Hero Section Styles */
.hero {
    text-align: center;
    padding: 100px 0;
    background-color: #ff66b2; /* Pink background */
    color: #fff;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.input-box {
  height: 40px;
  width: 35%;
  border-radius: 10px;
  outline: none;
  border: 1px solid #d9e0cdde;
  padding: 0 19px;
  margin: auto;
  color: 5c5454; 
  background-color: #fff;;  
}/* Added by Reema */

.cta-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Content Section Styles */
.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 90px;
    padding-top: 20px;
}
div.game {
    flex-basis: calc(20% - 10px); 
    margin-bottom: 20px; 
}

.game-image {
    width: 200px;
}

.game-title {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    padding: 44px;
}
.Title{
    position: relative;
    bottom: -80px;
    right: -90px;
    font-size: 23px;
    color:#333333;
}
mark{
    background: linear-gradient(-100deg, hsla(48,92%,75%,.3), hsla(48,92%,75%,.7) 95%, hsla(48,92%,75%,.1));
    border-radius: 1em 0;
    padding: .5rem;
    color:#333333;
}

