{% load static %}
{% block brand %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/GGicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'images/GameGeek.png' %}" alt="Logo">
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'Game' %}">Home</a></li>
                <li><a href="{% url 'Fav' %}">Favourites</a></li>
                <li><a href="{% url 'History' %}">History</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href=#>Contact us</a></li>
                <li><a href="{% url 'index' %}">Log out</a></li>
            </ul>
        </nav>
    </header>   

    <section class="content">
        <h1>Edit Profile</h1>
        <form action="process_edit_profile.php" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="[CurrentUsername]" required>
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="[CurrentEmail]" required>
            <br>
            
            <input type="submit" value="Save Changes">
        </form>
    </section>

    <footer>
        <p>&copy; 2023 GameGeek All rights reserved.</p>
    </footer>
</body>
{% endblock %}
</html>
