{% load static %}
{% block brand %}
<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->
<html>
        <title>Favourites</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{% static 'images/GGicon.png' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    </head>
    <body>
        <header>
            <div class="logo">
                <img src="{% static 'images/GameGeek.png' %}" alt="Logo">
            </div>
            <nav class="navbar">
                <ul>
                    <li><a href="{% url 'Game' %}">Home</a></li>
                    <li><a class="active" href="{% url 'Fav' %}">Favourites</a></li>
                    <li><a href="{% url 'History' %}">History</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href=#>Contact us</a></li>
                    <li><a href="{% url 'index' %}">Log out</a></li>
                </ul>
            </nav>
        </header>   
        <div class="container">
        <div class="game">
            <a href="{% url 'game_info_page' %}?img=2" class="game-title">Lorem Ipsum</a>
            <a href="{% url 'game_info_page' %}?img=2"><img src="{% static 'images/game2.png' %}" class="game-image"></a>
        </div>

        <!-- Game 3 -->
        <div class="game">
            <a href="{% url 'game_info_page' %}?img=3" class="game-title">Lorem Ipsum</a>
            <a href="{% url 'game_info_page' %}?img=3"><img src="{% static 'images/game3.png' %}"class="game-image"></a>
        </div>
        </div>

    <footer>
        <p>&copy; 2023 GameGeek All rights reserved.</p>
    </footer>
        
    </body>
    {% endblock %}
</html>
