{% load static %}
{% block brand %}
{% csrf_token %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="{% static 'images/GGicon.png' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Age Estimations</title>
	<!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/Games/GGicon.png' %}">

	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:00,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <style>
        #main-content {
            margin: auto;
            height: 107%;
            background: rgb(21, 22, 51);
            background: linear-gradient(96deg, rgba(21, 22, 51, 1) 0%, rgba(226, 42, 162, 1) 86%);
        }

        .top-header-area {
            padding: 15px 0;
            width: 100%;
        }

        #video-container, #captured-image {
            border-radius: 4%;
            border-color: #ff069a;
            border-width: 2px;
            position: relative;
            margin: 0;
            padding: 0;
            top: 140px;
            right: -420px;
        }

        #video-stream {
            margin: 20% auto auto auto;
            border-radius: 4%;
            border-color: #ff069a;
            margin-right: -10px;
            display: none;
            margin: 0;
            padding: 0;
        }


        .inst-container {
            text-align: center;
            padding-top: 5%;
        }

        #popup {
            margin: 10% auto 0 auto;
            padding-top: 3%;
            border-radius: 50px;
            background-color: rgba(255, 255, 255, 0.7);
            height: 40%;
            width: 40%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
            font-size: 1px;
        }

        button.boxed-btn {
            font-family: 'Poppins', sans-serif;
            display: inline-block;
            background-color: #ff069a;
            color: #fff;
            padding: 10px 20px;
            cursor: pointer;
            text-decoration: none;
            border-radius: 50px;
        }

        button.boxed-btn:hover {
            background-color: #06f7ff;
            color: #fff;
        }

        button.boxed-btn {
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
        }

        .games {
            color: #fff;
        }

        .innerList {
            padding-left: 40px;
            padding-bottom: 19px;
        }

        ul {
            list-style: none;
        }

        #footer {
            justify-content: space-between;
        }

        summary::-webkit-details-marker {
            display: none;
        }

        summary {
            list-style-type: none;
        }

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 50;
  width: 100%;
  height: 100%;
}

.popup-content {
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 600px;
  margin: 15% auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  position: relative;
  padding: 20px;
}


    </style>
<body>

    <!-- Header -->
    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <div class="site-logo">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'img/Games/GameGeek.png' %}" alt="logo" width="300px" height="120px">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header -->

    <section id="main-content">

    
        <!-- Instructions Container -->
        <div class="inst-container" id="instructions">
            <div id="popup">
                <br>
                <h4 style="color: #ff069bc0;">Welcome again!</h4>
                <h6>It is time for taking the picture, please follow the instructions:</h6>
                <p>Stay still while taking the picture.</p>
                <p>Make sure the lighting is good.</p>
                <p>Click on <button id="start-camera-button" class="boxed-btn" onclick="hideDiv()">Ready</button> to start taking the picture.</p>
            </div>
        </div>
    
        <!-- Video Container -->
        <div class="container" id="video-container">
            <div class="row">
                <div class="col-lg-8 offset-lg- text-center">
                    <br>
                    <video id="video-stream" autoplay playsinline></video>
                    <img id="captured-image" src="" alt="Captured Image" style="display: none;">
                </div>
            </div> <!-- End class row -->
        </div> <!-- End class container -->
    
                    <div id="button-container">
                        <a id="take-snapshot-button" disabled class="boxed-btn" style="display:none; width: 20%; font-size: 20px; text-align: center; position: relative; top:150px; left: 600px;">Take Snapshot</a> <br>
                    </div>
    </section>
    
    <script>
        // JavaScript to show the classified popup when the classification message is available
        document.addEventListener("DOMContentLoaded", function () {
            var classificationMessage = "{{ classification_message }}";
            if (classificationMessage) {
                document.getElementById("classification-message-span").innerText = classificationMessage;
                document.getElementById("classified").style.display = "block";
                
                // Hide the camera elements when displaying the classified popup
                document.getElementById("video-container").style.display = "none";
                document.getElementById("take-snapshot-button").style.display = "none";
            }
    
            // Event listener for "Take Snapshot" button
            document.getElementById("take-snapshot-button").addEventListener("click", function () {
                // Display the classified popup with the dynamic message
                var messageContainer = document.getElementById("message-container");
                if (messageContainer) {
                    // Set the content of the span element
                    document.getElementById("classification-message-span").innerText = classificationMessage;
                }
    
                // Display the classified popup
                document.getElementById("classified").style.display = "block";
                
                // Hide the camera elements when displaying the classified popup
                document.getElementById("video-container").style.display = "none";
                document.getElementById("take-snapshot-button").style.display = "none";
            });
        });
    </script>
  <!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row" id="footer">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">Our Guarantee</h2>
						<p>At Game Geek, we combine entertainment along with safeguarding. We're committed to enhancing the game-finding experience by expertly tailoring it to your age and preferences as a cutting-edge platform.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li><a href="mailto:support@gamegeek.com" class="mail">
								<i class="fas fa-envelope"></i>&#160;&#160;GameGeekWebsite@gmail.com
							</a></li>
							<li>
								<a href="https://www.instagram.com/Game_Geek2023" target="_blank">
								  <i class="fab fa-instagram"></i>&#160;&#160; Game_Geek2023
								</a>
							</li>
							<li>
								<a href="https://www.X.com/Game_Geek2023" target="_blank">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" version="1.1" width="13" height="13" class="X">
									<path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z" fill="white"/>
									</svg>&#160;&#160; <span style="position: relative; top: 2px;">Game_Geek2023</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul class= "outerList">
							<details><summary><li class="gmaes">Games</li></summary>
								<ul class="innerList">
									<li class="dash"><a href="{% url 'index' %}">All Games</a></li>
									<li class="dash"><a href="{% url 'index' %}">Favourite Games</a></li>
									<li class="dash"><a href="{% url 'index' %}">Downloaded Games</a></li>
								</ul></details>
							<li class="dash"><a href="{% url 'index' %}">Profile</a></li>
							<li class="dash"><a href="{% url 'index' %}">Contact Us</a></li>
							<li class="dash"><a href="{% url 'index' %}">About Us</a></li>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->

	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2023 GameGeek Rights Reserved.<br>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const takeSnapshotButton = document.getElementById('take-snapshot-button');
        const retakeButton = document.getElementById('retake-button');
        const capturedImage = document.getElementById('captured-image');
        const videoElement = document.getElementById('video-stream');
        const nextButton = document.getElementById('next-button');
        document.getElementById('start-camera-button').addEventListener('click', function() {
           hideDiv();
           startCamera();});

        let mediaStream;
        let snapshotDataUrl;
        const classificationMessageSpan = document.getElementById('classification-message-span');
        const errorMessageSpan = document.getElementById('error-message-span');

        async function startCamera() {
    try {
        mediaStream = await navigator.mediaDevices.getUserMedia({ video: true });

        // Display the video stream in the video element
        videoElement.srcObject = mediaStream;

        // Show the video element and hide the captured image
        videoElement.style.display = 'block';
        capturedImage.style.display = 'none';

        // Enable the "Take Snapshot" button
        takeSnapshotButton.disabled = false;
        takeSnapshotButton.style.display = 'block';
    } catch (error) {
        console.error('Error accessing camera:', error);
    }
}

        takeSnapshotButton.addEventListener('click', () => {
            if (mediaStream) {
                const canvas = document.createElement('canvas');
                canvas.width = videoElement.videoWidth;
                canvas.height = videoElement.videoHeight;
                const context = canvas.getContext('2d');
                context.drawImage(videoElement, 0, 0, canvas.width, canvas.height);

                // Convert the captured snapshot to base64 data
                snapshotDataUrl = canvas.toDataURL('image/jpeg');
                const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;
                var estimatedAgeGroup;

                fetch('/AgeEstimationModel/process_image/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify({ image_data: snapshotDataUrl }),
        })
        .then(response => response.json())
        .then(result => {
            console.log('Response:', result); // Log the entire result object for debugging

            if ('error' in result) {
                console.error('Error from model:', result.error);
                // Update the content of the displayMessage
                classificationMessageSpan.innerText = 'No Face Detected. Please try again.';
            } else {
                console.log('Your Estimated Age Group is:', result['Estimated Age Group']);
                // Update the content of the displayMessage
                classificationMessageSpan.innerText = `Your Estimated Age Group is: ${result['Estimated Age Group']}`;
                displayCapturedImage(snapshotDataUrl);
                fetch('/BackEnd/AssignAgeGroup/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                    },
                    body: JSON.stringify({ 
                        estimatedAgeGroup: `${result['Estimated Age Group']}`,
                        previousPage: document.referrer
                    }),
                })
            }
        })
            .catch(error => {
                console.error('Error processing image:', error);
                classificationMessageSpan.innerText ='Error processing image. Please try again.';
            });

                    // Disable the "Take Snapshot" button
                    takeSnapshotButton.style.display = "none";
                }
            });

            retakeButton.addEventListener('click', () => {
                // Reset the captured image and show the video element
                capturedImage.src = '';
                capturedImage.style.display = 'none';
                videoElement.style.display = 'block';

                // Enable the "Take Snapshot" button
                takeSnapshotButton.disabled = false;
            });

            nextButton.addEventListener('click', () => {
                // Trigger the download of the captured image
                window.location.href = "/Games/";
            });
        });


        function hideDiv() {
          message = document.getElementById('classified');
            var div = document.getElementById("instructions");
            take=document.getElementById('take-snapshot-button');
            div.style.display = "none";
             vv=document.getElementById("video-container");
            vv.style.display="block";
             message.style.display = 'none';
              take.style.display="none";
        }
		function dis() {
            document.getElementById("classified").style.display = "none";
            var div = document.getElementById("instructions");
            div.style.display = "block";

take=document.getElementById('take-snapshot-button');
            vv=document.getElementById("video-container");
            vv.style.display="none";
            take.style.display="none";

        }

        function displayCapturedImage(imageDataUrl) {
    const capturedImageContainer = document.createElement('div');
    capturedImageContainer.style.position = 'absolute';
    capturedImageContainer.style.top = '212px';
    capturedImageContainer.style.right = '397px';

    const capturedImage = document.createElement('img');
    capturedImage.src = imageDataUrl;
    capturedImage.alt = 'Captured Image';
    capturedImage.style.height= '190px';
    capturedImage.style.maxWidth = '224px'; 
    capturedImage.style.marginTop = '-6px';

    capturedImageContainer.appendChild(capturedImage);
    document.getElementById('classified').appendChild(capturedImageContainer);
        }

    </script>
           <!-- Classification Popup -->
           <div id="classified" class="Popup" style="display: none;">
            <div class="popup-content">
                <h3 style="text-align: left;">Almost There!</h3>
                <span id="classification-message-span" style="font-size: 20px; font-weight: 700;"></span>
                <h4 style="max-width: 380px; line-height: unset; margin-bottom: 20px; margin-top: 20px; font-size: 20px; font-weight: inherit;">If your classification is accurate, dive into your gaming adventure by clicking on <a id="next-button" class="boxed-btn" href="{% url 'Games' %}">Next</a></h4>
                <h4 style="font-size: 20px; font-weight: inherit;">Otherwise, feel free to try again! <a id="retake-button" class="boxed-btn" onclick="dis()">Retake</a> </h4>
            </div>
        </div>
           <!-- Error Popup -->
           <div id="error" class="Popup" style="display: none;">
            <div class="popup-content" style="padding: 100px;">
                <span id="error-message-span"></span>
            </div>
        </div>
</body>	
{% endblock %}
</html>