{% load static %}
{% block brand %}
{% csrf_token %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="{% static 'images/GGicon.png' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- title -->
	<title>Age Estimation</title>
	<!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/Games/GGicon.png' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:00,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- responsive -->
    <link rel="stylesheet" href="{% static 'css/AEresponsive.css' %}">
    <script>
        var status = "{{ status }}";
        var url = document.referrer;
        var parts = url.split('/');
        var PageName = parts[parts.length - 2];
        var AgeGroupResult;
    </script>
    <style>
        #main-content {
            background: rgb(21, 22, 51);
            background: linear-gradient(96deg, rgba(21, 22, 51, 1) 0%, rgba(226, 42, 162, 1) 86%);
        }

      

        #video-container, #captured-image, #video-container img  {
            border-radius: 4%;
            border-color: #ff069a;
            border-width: 2px;
            position: relative;
        }

        #video-stream {
            border-radius: 4%;
            border-color: #ff069a;
            display: none;
            padding-top: 12%;
        }

        .inst-container, .Popup {
            padding-top: 20%;
            padding-bottom: 5%;
        }

        #popup {
            margin: 0 auto 0 auto;
            padding-top: 3%;
            padding-bottom: 3%;
            border-radius: 50px;
            background-color: rgba(255, 255, 255, 0.7);
            width: 60%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
            font-size: 1px;
        }

        button.boxed-btn , .sendButton , #setAgeGroup{
            font-family: 'Poppins', sans-serif;
            display: inline-block;
            background-color: #ff069a;
            color: #fff;
            padding: 10px 20px;
            cursor: pointer;
            text-decoration: none;
            border-radius: 50px;
        }

        button.boxed-btn:hover , .sendButton:hover ,#setAgeGroup:hover {
            background-color: #06f7ff;
            color: #fff;
        }

        button.boxed-btn , .sendButton  , #setAgeGroup{
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
        }

        .innerList {
            padding-left: 40px;
            padding-bottom: 19px;
        }

        ul {
            list-style: none;
        }

        #footer {
            justify-content: space-between;
        }

        summary::-webkit-details-marker {
            display: none;
        }

        summary {
            list-style-type: none;
        }


.popup {
  display: none;
  margin:10% 0%;
  padding:10% 5%;
}

.popup-content {
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 600px;
  margin: 0 auto 0 auto;
  padding: 3%;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  padding: 20px;
}
body img{
  max-width: 600px;
}

#formContent label {
    display: flex;
    align-items: center;
    margin-bottom: -6%;
  }

  #formContent input[type="radio"] {
    margin-right: 5px;
  }
    </style>
<body>

	<!-- header -->
    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                        <div class="site-logo">
                            <a href="{% url 'index' %}">	<img src="{% static 'img/Games/GameGeek.png' %}" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- end header -->

    <div id="main-content">
        <div class=".container-lg">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 text-center">
                    <!-- Instructions Container -->
                    <div class="inst-container" id="instructions">
                        <div id="popup" class="text-center">
                            <br>
                            <h4 style="color: #ff069bc0;">Almost There!</h4>
                            <h6>Ready to Take Your Picture? Follow These Simple Instructions:</h6>
                            <p>1. Stay perfectly still while capturing the photo.</p>
                            <p>2. Ensure good lighting for the best results.</p>
                            <p>Click the <button id="start-camera-button" class="boxed-btn" onclick="hideDiv()">Ready</button> button to begin.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Video Container -->
        <div class=".container-lg" id="video-container">
            <div class="row justify-content-center">
                <div class="col-lg-7 offset-lg-2 col-md-10 offset-md-1 col-12 text-center">
                    <br>
                    <video width="65%" id="video-stream" autoplay playsinline></video>
                    <img id="captured-image" src="" alt="Captured Image" style="display: none;">
                    <div id="button-container" class="col-8 text-center d-flex justify-content-center" style="padding-bottom: 3%;">
                        <button id="take-snapshot-button" class="boxed-btn" style="display:none; text-align: center; position: relative; font-size: larger;">Take Snapshot</button><br>
                    </div>
                </div>
            </div>
        </div>        


        <div class=".container-lg">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 text-center">
                    <!-- Classification Popup -->
                    <div id="classified" class="Popup" style="display: none;">
                        <div class="popup-content">
                            <h4 style="color: #ff069bc0;">Almost There!</h4>
                            <span id="classification-message-span" style="font-size: 20px; font-weight: 700;"></span>
                            <div id="containerDive"></div>
                            <h4 id="retakeHeading" style="font-size: 20px; font-weight: inherit;">Otherwise, feel free to try again! <a id="retake-button" class="boxed-btn" onclick="dis()">Retake</a> </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <div class=".container-lg">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 text-center">
                    <!-- Error Popup -->
                    <div id="error" class="Popup" style="display: none;">
                        <div class="popup-content">
                            <span id="error-message-span" style="font-size: 20px; font-weight: 700;"></span>
                            <h4 style="font-size: 20px; font-weight: inherit;">Make sure following the instructions and feel free to try again! <a id="retake-button" class="boxed-btn" onclick="dis()">Retake</a> </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class=".container-lg">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 text-center">
                    <!-- NotAllowed Popup -->
                    <div id="NotAllowed" class="Popup" style="display: none;">
                        <div class="popup-content">
                            <span style="font-size: 20px; font-weight: 700;">Your Estimated Age Group is: 0-3</span>
                            <h4 style="font-size: 20px; font-weight: inherit;">Due to your estimated age group, you are not allowed to get access to Game Geek</h4>
                            <h4 style="font-size: 20px; font-weight: inherit;">If you have not classified correctly, feel free to try again! <a id="retake-button" class="boxed-btn" onclick="dis()">Retake</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
               
        
        <div class=".container-lg">
            <div class="rowr">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 text-center">
                    <!-- Sned Popup -->
                           <div id="send" class="Popup" style="display: none;">
                            <div class="popup-content">
                                <h4 style="font-size: 20px; font-weight: inherit;">Seems like you are having trouble getting your right estimated age group</h4>
                                <h4 style="font-size: 20px; font-weight: inherit;">Do not worry! We will send to your regeistred email in Game Geek to solve the issue</h4>
                                    {% csrf_token %}
                                    <button type="button" class="sendButton" onclick="sendRequest()" style="width: 40%; font-size: larger; font-weight: 700;">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        
        <div class=".container-lg">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 text-center">    
                    <!-- login send Popup -->
                    <div id="sendlogin" class="Popup" style="display: none;">
                        <div class="popup-content">
                            <div id="sendRequestTrigger" style="display: none;"></div>
                            <h4 style="font-size: 20px; font-weight: inherit;">Seems like you are having trouble getting your right estimated age group</h4>
                            <h4 style="font-size: 20px; font-weight: inherit;">Do not worry! We will send to your regeistred email in Game Geek to solve the issue</h4>
                            {% csrf_token %}
                            <button type="button" class="sendButton" onclick="sendEmail()" style="width: 40%; font-size: larger; font-weight: 700;">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class=".container-lg">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 text-center">   
                    <!-- Error Popup -->
                    <div id="errorPopUp" class="Popup" style="display: none;">
                        <div class="popup-content">
                            <h4 style="font-size: 20px; font-weight: inherit;">Unexpected error occurred, please try again! <a class="boxed-btn" onClick="dis()">Try again</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class=".container-lg">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 text-center">   
                           <!-- done Popup -->
                           <div id="done" class="Popup" style="display: none;">
                            <div class="popup-content">
                                <h4 style="font-size: 20px; font-weight: inherit;">You are done, welcome to Game Geek!  <a id="next-button" class="boxed-btn" href="{% url 'Games' %}">Next</a> </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        
        
            <div class=".container-lg">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 text-center">  
                        <!-- Password Confirm Success Pop-up (hidden by default) -->
                        <div id="ageGroupConfirm" class="popup">
                            <div class="popup-content" style="max-width: 380px">
                                <h3 style="padding-bottom: 20px;">Set Your Age Group:</h3>
                                <form id="ageGroupConfirmForm" action="" method="POST" style="font-size: 125%; font-weight: 700;">
                                    {% csrf_token %}
                                    <div id="formContent" style="font-size: larger;">
                                        <label>
                                            <input type="radio" name="ageGroup" value="+4">
                                            4+</label><br>
                                        <label>  
                                            <input type="radio" name="ageGroup" value="+9">
                                            9+</label><br>
                                        <label>
                                            <input type="radio" name="ageGroup" value="+12">
                                            12+</label><br>
                                        <label>
                                            <input type="radio" name="ageGroup" value="+17">
                                            17+</label> <br>
                                    </div>
                                    <button type="submit" id="setAgeGroup" style="width: 60%; font-size: 100%; font-weight: 700;" onclick="confirm()">Set Age Group</button>
                                </form>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>
            
        
            <div class=".container-lg">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 text-center"> 
                        <!-- Email Sent Success Popup 1 -->
                        <div class="emailSentSuccess Popup">
                            <div class="popup-content">
                                <h3>Assign age group reset Link Sent <i class="fa fa-check" aria-hidden="true" style="color: green;"></i></h3>
                                <h5>An age group reset link has been sent to your registered email address. Please check your inbox, including your spam folder, and follow the link to reset your age group.</h5>
                                <h7>If you haven't received an email, please ensure that you registered with Game Geek using a correct email address. If the issue persists, don't hesitate to contact us for assistance!</h7>
                                <h7>Back to <a id="next-button" href="{% url 'signup' %}">Sign up</a></h7>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class=".container-lg">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 text-center"> 
                        <!-- Email Sent Success Popup 2 -->
                        <div class="emailSentSuccess Popup">
                            <div class="popup-content">
                                <h3>A redirect link to your corresponding age group reset has been sent <i class="fa fa-check" aria-hidden="true" style="color: green;"></i></h3>
                                <h5>A redirect link to your corresponding age group account has been sent to your registered email address. Please check your inbox, including your spam folder.</h5>
                                <h7>If you haven't received an email, please ensure that you registered with Game Geek using a correct email address. If the issue persists, don't hesitate to contact us for assistance!</h7>
                                <h7>Back to <a id="next-button" href="{% url 'signup' %}">Sign up</a></h7>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class=".container-lg">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 text-center"> 
                        <!-- Email Sent Success Popup 3 -->
                        <div id="signUpConfirmation" class="emailSentSuccess Popup" style="width: 106%;">
                            <div class="popup-content">
                                <h3>Confirm Registration <i class="fa fa-check" aria-hidden="true" style="color: green;"></i></h3>
                                <h5>Dear gamer, we have sent you a link to your registered email to confirm your registration. Please check your inbox, including your spam folder, and follow the link to complete your registering confirmation.</h5>
                                <h7>If you haven't received an email, please ensure that your registered with Game Geek using a correct email address. If the issue persists, don't hesitate to contact us for assistance!</h7>
                                <h7>Back to <a id="next-button" href="{% url 'signup' %}">Sign up</a></h7>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




    </div>
    
	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row" id="footer">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">Our Guarantee</h2>
						<p>At Game Geek, we combine entertainment along with safeguarding. We're committed to enhancing the game-finding experience by expertly tailoring it to your age and preferences as a cutting-edge platform.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li><a href="mailto:support@gamegeek.com" class="mail">
								<i class="fas fa-envelope"></i>&#160;&#160;GameGeekWebsite@gmail.com
							</a></li>
							<li>
								<a href="https://www.instagram.com/Game_Geek2023" target="_blank">
								  <i class="fab fa-instagram"></i>&#160;&#160; Game_Geek2023
								</a>
							</li>
							<li>
								<a href="https://www.X.com/Game_Geek2023" target="_blank">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" version="1.1" width="13" height="13" class="X">
									<path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z" fill="white"/>
									</svg>&#160;&#160; <span style="position: relative; top: 2px;">Game_Geek2023</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul class= "outerList">
							<details><summary><li class="gmaes">Games</li></summary>
								<ul class="innerList">
									<li class="dash"><a href="{% url 'index' %}">All Games</a></li>
									<li class="dash"><a href="{% url 'index' %}">Favourite Games</a></li>
									<li class="dash"><a href="{% url 'index' %}">Visited Store Games</a></li>
								</ul></details>
							<li class="dash"><a href="{% url 'index' %}">Profile</a></li>
							<li class="dash"><a href="{% url 'index' %}">Contact Us</a></li>
							<li class="dash"><a href="{% url 'index' %}">About Us</a></li>
						</ul>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2023 GameGeek Rights Reserved.<br>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const takeSnapshotButton = document.getElementById('take-snapshot-button');
        const retakeButton = document.getElementById('retake-button');
        const capturedImage = document.getElementById('captured-image');
        const videoElement = document.getElementById('video-stream');
        const nextButton = document.getElementById('next-button');
    
        document.getElementById('start-camera-button').addEventListener('click', function() {
           hideDiv();
           startCamera();});

        let mediaStream;
        let snapshotDataUrl;
        const classificationMessageSpan = document.getElementById('classification-message-span');
        const errorMessageSpan = document.getElementById('error-message-span');

        async function startCamera() {
    try {
        mediaStream = await navigator.mediaDevices.getUserMedia({ video: true });

        // Display the video stream in the video element
        videoElement.srcObject = mediaStream;

        // Show the video element and hide the captured image
        videoElement.style.display = 'block';
        capturedImage.style.display = 'none';

        // Enable the "Take Snapshot" button
        takeSnapshotButton.disabled = false;
        takeSnapshotButton.style.display = 'block';
    } catch (error) {
        console.error('Error accessing camera:', error);
    }
}

        takeSnapshotButton.addEventListener('click', () => {
            if (mediaStream) {
                const canvas = document.createElement('canvas');
                canvas.width = videoElement.videoWidth;
                canvas.height = videoElement.videoHeight;
                const context = canvas.getContext('2d');
                context.drawImage(videoElement, 0, 0, canvas.width, canvas.height);

                // Convert the captured snapshot to base64 data
                snapshotDataUrl = canvas.toDataURL('image/jpeg');
                const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;

                fetch('/AgeEstimationModel/process_image/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify({ image_data: snapshotDataUrl }),
        })
        .then(response => response.json())
        .then(result => {
            console.log('Response:', result); // Log the entire result object for debugging

            if ('error' in result) {
                console.error('Error from model:', result.error);
                // Update the content of the displayMessage
                errorMessageSpan.innerText = 'No Face Detected. Please try again.';
                error();
            } else {
                console.log('Your Estimated Age Group is:', result['Estimated Age Group']);
                // Update the content of the displayMessage
                AgeGroupResult = result['Estimated Age Group'];
                classificationMessageSpan.innerText = `Your Estimated Age Group is: ${result['Estimated Age Group']}`;
                classified(result['Estimated Age Group']);
            }
        })
            .catch(error => {
                console.error('Error processing image:', error);
                errorMessageSpan.innerText ='Error processing image. Please try again.';
                error();
            });

                    // Disable the "Take Snapshot" button
                    takeSnapshotButton.style.display = "none";
                }
            });
            

            retakeButton.addEventListener('click', () => {
                // Reset the captured image and show the video element
                capturedImage.src = '';
                capturedImage.style.display = 'none';
                videoElement.style.display = 'block';

                // Enable the "Take Snapshot" button
                takeSnapshotButton.disabled = false;
            });

            nextButton.addEventListener('click', () => {
                // Trigger the download of the captured image
                window.location.href = "/Games/";
            });
        });
        
        var counter = 0;

          function classified(result){
            if(result === '0-3'){
            document.getElementById("NotAllowed").style.display = "block";
            document.getElementById("video-container").style.display = "none";
            document.getElementById("take-snapshot-button").style.display = "none";
            }
            else{
            document.getElementById("classified").style.display = "block";
            document.getElementById("video-container").style.display = "none";
            document.getElementById("take-snapshot-button").style.display = "none";

            if (PageName === 'signup') {
                //alert('hello from signup');
                var container = document.getElementById('containerDive');
                var htmlContent = '<h4 style="position: relative; font-size: 20px; font-weight: inherit; padding-top: 4%; padding-bottom: 4%;">If your classification is accurate, confirm your regisetration by clicking on <a id="next-button" class="boxed-btn" onclick= "Assign()">Next</a></h4>';
                container.innerHTML = htmlContent;
            } else if (PageName === 'login') {
               // alert('im here in login');
                var csrftoken = getCookie('csrftoken');
                // Encode data as x-www-form-urlencoded format   
                var formData = new URLSearchParams();
                formData.append('estimatedAgeGroup', AgeGroupResult);
                // Send the request
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/BackEnd/CompareAgeGroups/', true);
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                xhr.onreadystatechange = function() {
                    var container = document.getElementById('containerDive');
                    var htmlContent = '';
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            document.getElementById('retakeHeading').style.display = 'none';
                            var response = JSON.parse(xhr.responseText);
                            if(response.message === 'Matching'){
                            htmlContent = '<h4 style="font-size: 20px; font-weight: inherit;">Your estimated age is accurate, dive into your gaming adventure by clicking on <a id="next-button" class="boxed-btn" href="{% url "Games" %}">Next</a></h4>';
                            container.innerHTML = htmlContent;
                            console.log(xhr.responseText);}
                            else if(response.message === 'Not Matching'){
                                htmlContent = '<h4 style="font-size: 20px; font-weight: inherit;">Your registered age group not matching your current estimated age group. Feel free to try again! <a id="retake-button" class="boxed-btn" onclick="dis()">Retake</a> </h4>';
                                container.innerHTML = htmlContent;
                            }
                        }else {
                            // Request failed, handle error
                            alert('error');
                        }
                    }
                };
                xhr.send(formData);
            }
        }
          }
          function error(){
            document.getElementById("error").style.display = "block";
            document.getElementById("video-container").style.display = "none";
            document.getElementById("take-snapshot-button").style.display = "none";

          }

        function hideDiv() {
          message = document.getElementById('classified');
            var div = document.getElementById("instructions");
            take=document.getElementById('take-snapshot-button');
            div.style.display = "none";
             vv=document.getElementById("video-container");
            vv.style.display="block";
             message.style.display = 'none';
              take.style.display="none";
        }

		function dis() {
            document.getElementById("classified").style.display = "none";
            document.getElementById("error").style.display = "none";
            document.getElementById("errorPopUp").style.display = "none";
            document.getElementById("NotAllowed").style.display = "none";
            var div = document.getElementById("instructions");
            div.style.display = "block";
            counter++;
            if(counter === 3){
                if(PageName === 'signup')
                sendfunc();
                else if(PageName === 'login')
                loginfunc();
            }


            take=document.getElementById('take-snapshot-button');
            vv=document.getElementById("video-container");
            vv.style.display="none";
            take.style.display="none";

        }
        function sendfunc(){
            document.getElementById("send").style.display = "block";
            document.getElementById("video-container").style.display = "none";
            document.getElementById("take-snapshot-button").style.display = "none";
            document.getElementById("instructions").style.display = "none";
        }
        function loginfunc(){
            document.getElementById("sendlogin").style.display = "block";
            document.getElementById("video-container").style.display = "none";
            document.getElementById("take-snapshot-button").style.display = "none";
            document.getElementById("instructions").style.display = "none";

        }
        function Try(){
            document.getElementById("send").style.display = "block";
            document.getElementById("video-container").style.display = "none";
            document.getElementById("take-snapshot-button").style.display = "none";
            document.getElementById("instructions").style.display = "none";
        }
        function Assign(){
            alert(AgeGroupResult);
            fetch('/BackEnd/AssignAgeGroup/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'),
                    },
                    body: JSON.stringify({ 
                        estimatedAgeGroup: AgeGroupResult,
                    }),
                })
                confirm();
        }
    </script>;

<script>
if (status === 'done') {
    // Display done pop-up
    document.getElementById('done').style.display = 'block';
    document.getElementById("instructions").style.display = "none";
    document.getElementById('send').style.display = 'none';
}
else if (status === 'error'){
    // Display error pop-up
    document.getElementById('send').style.display = 'none';
    document.getElementById("instructions").style.display = "none";
    document.getElementById('errorPopUp').style.display = 'block';
}
else if (status === 'confirm'){
    document.getElementById("instructions").style.display = "none";
    document.getElementById('ageGroupConfirm').style.display = 'block';
}

else if (status === 'verify'){
    confirm();
document.getElementById("instructions").style.display = "none";

}
function sendRequest() {
var csrftoken = getCookie('csrftoken');
var xhr = new XMLHttpRequest();
xhr.open('POST', "{% url 'custom_assigining_ageGroup' %}", true);
xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

// Set the CSRF token and session ID in the request headers
xhr.setRequestHeader("X-CSRFToken", csrftoken);

xhr.onload = function () {
    if (xhr.status === 200) {
        document.getElementsByClassName('emailSentSuccess')[0].style.display = 'block';
        document.getElementById("instructions").style.display = "none";
        document.getElementById('send').style.display = 'none';
    } else if (xhr.status === 404) {
        document.getElementById('send').style.display = 'none';
        document.getElementById("instructions").style.display = "none";
        document.getElementById('errorPopUp').style.display = 'block';
    }
};
xhr.send();
}

function sendEmail(){
var csrftoken = getCookie('csrftoken');
var xhr = new XMLHttpRequest();
xhr.open('POST', "{% url 'SendEmailForWrongEstimation' %}", true);
xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

// Set the CSRF token and session ID in the request headers
xhr.setRequestHeader("X-CSRFToken", csrftoken);

xhr.onload = function () {
    if (xhr.status === 200) {
        document.getElementsByClassName('emailSentSuccess')[0].style.display = 'block';
        document.getElementById("instructions").style.display = "none";
        document.getElementById('sendlogin').style.display = 'none';
    } else if (xhr.status === 404) {
        document.getElementById('sendlogin').style.display = 'none';
        document.getElementById("instructions").style.display = "none";
        document.getElementById('errorPopUp').style.display = 'block';
    }
};

xhr.send();
}

function confirm() {
var csrftoken = getCookie('csrftoken');
var xhr = new XMLHttpRequest();
xhr.open('POST', "{% url 'custom_signup_confirmation' %}", true);
xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

// Set the CSRF token and session ID in the request headers
xhr.setRequestHeader("X-CSRFToken", csrftoken);

xhr.onload = function () {

    if (xhr.status === 200) {

        document.getElementById('signUpConfirmation').style.display = 'block';
        document.getElementById("instructions").style.display = "none";
        document.getElementById('send').style.display = 'none';
        document.getElementById("classified").style.display = "none";
        document.getElementById("ageGroupConfirm").style.display = "none";


    } else if (xhr.status === 404) {
        document.getElementById('signUpConfirmation').style.display = 'none';
        document.getElementById('send').style.display = 'none';
        document.getElementById("instructions").style.display = "none";
        document.getElementById('errorPopUp').style.display = 'block';

    }
};
xhr.send();
}
// Function to get the CSRF token from the cookie
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
</body>	
{% endblock %}
</html>