{% load static %}
{% block brand %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Game Inforomation</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'img/Games/GGicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

	<style>
		.games{
			color: #fff;
		}
		.innerList{
			padding-left: 40px;
            padding-bottom: 19px;
		}
		ul{
           list-style: none;
		}
		#footer{
			justify-content: space-between;
		}
		summary::-webkit-details-marker {
          display: none;}

		  summary {
    list-style-type: none; /* For non-Chrome browsers */}
		a{
			font-weight:500;
			text-decoration: none;
		}

	</style>
</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
							<!-- logo -->
							<div class="site-logo">
								<a href="{% url 'Games' %}">	<img src="{% static 'img/Games/GameGeek.png' %}" alt="logo">
								</a>
							</div>
							<!-- logo -->
	
							<!-- menu start -->
							<nav class="main-menu">
								<ul>
									
									<li><a href=#>Games</a>
										<ul class="sub-menu">
											<li><a href="{% url 'Games' %}">All Games</a></li>
											<li><a href="{% url 'Fav' %}">Favourite Games</a></li>
											<li><a href="{% url 'History' %}">Downloaded Games</a></li>
											
										</ul>
									</li>
									<li><a href="{% url 'profile' %}">Profile</a>
									<li><a href="{% url 'contact' %}">Contact Us</a></li>
									<li><a href="{% url 'about' %}">About Us</a></li>
								<li>
									<div class="header-icons">
									
										<a class="boxed-btn" id="login-btn" href="{% url 'index' %}">Logout</a>
									</div>
								</li>
							</ul>
						</nav>
						<div class="mobile-menu"></div>
						<!-- menu end -->
						<div class="helloUserName"><i class="fa fa-user" aria-hidden="true"></i>&nbsp</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<!-- search area -->

	<!-- end search arewa -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Lorem ipsum</h1>
						<p>
							<span class="blue">See</span>
							<span class="black"> more</span>
							<span class="pink">Details</span>



						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- single product -->
	<div class="single-product mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="single-product-img">
						<img src="" id="gameImageINFO">
						<script>
							const urlParams = new URLSearchParams(window.location.search);
							const greetingValue = urlParams.get('img');
							const gameImage = document.getElementById('gameImageINFO');
							if (greetingValue) {
								// Use Django template tag to generate the image URL
								const imageUrl = "{% static 'img/Games/game' %}" + greetingValue + ".png";
								gameImage.src = imageUrl;
							}
						</script>
						
					</div>
				</div>
				<div class="col-md-7">
					<div class="single-product-content">
						<h2>Lorem ipsum</h2>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sint dignissimos, rem commodi cum voluptatem quae reprehenderit repudiandae ea tempora incidunt ipsa, quisquam animi perferendis eos eum modi! Tempora, earum.</p>
						<div class="single-product-form">
						
							<p><strong>Genre: </strong>Action, Strategy</p>

							<a href="#" class="cart-btn" id="favBtn"><i class="fas fa-regular fa-heart"></i> <span id="favText">Add to Favourite Games</span></a>
							<a href="javascript:void(0);" class="cart-btn" id="copyBtn"><i class="fas fa-solid fa-link"></i><span id="copyText">Go to The Download Page!</span></a>
							<script>
                                const favBtn = document.getElementById('favBtn');
                                const favText = document.getElementById('favText');

                                favBtn.addEventListener('click', function (event) {
                                event.preventDefault(); // Prevent the default link behavior

                                    if (favText.textContent === 'Add to Favourite Games') {
                                        favText.textContent = 'Saved to Favourite Games!';
                                    } else {
										if (favText.textContent === 'Saved to Favourite Games!') 
                                        favText.textContent = 'Add to Favourite Games';										
									}});
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end single product -->

	<!-- recent games -->
	<div class="more-products mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3>Recently&nbsp;<span class="pink-text">Viewd</span> Games</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'game_info_page' %}?img=10"><img src="{% static 'img/Games/game10.png' %}" alt=""></a>
						</div>
						<h3>Lorem ipsum</h3>
						<a href="{% url 'game_info_page' %}?img=10" class="cart-btn">More info</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'game_info_page' %}?img=8"><img src="{% static 'img/Games/game8.png' %}" alt=""></a>
						</div>
						<h3>Lorem ipsum</h3>
						<a href="{% url 'game_info_page' %}?img=8" class="cart-btn">More info</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'game_info_page' %}?img=7"><img src="{% static 'img/Games/game7.png' %}" alt=""></a>
						</div>
						<h3>Lorem ipsum</h3>
						<a href="{% url 'game_info_page' %}?img=7" class="cart-btn">More info</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end recent games products -->


	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row" id="footer">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">Our Guarantee</h2>
						<p>At Game Geek, we combine entertainment along with safeguarding. We're committed to enhancing the game-finding experience by expertly tailoring it to your age and preferences as a cutting-edge platform.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>Riyadh, Saudi Arabia.</li>
							<li>support@gamegeek.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul class= "outerList">
							<details><summary><li class="gmaes">Games</li></summary>
								<ul class="innerList">
									<li class="dash"><a href="{% url 'Games' %}">All Games</a></li>
									<li class="dash"><a href="{% url 'Fav' %}">Favourite Games</a></li>
									<li class="dash"><a href="{% url 'History' %}">Downloaded Games</a></li>
								</ul></details>
								<li class="dash"><a href="{% url 'profile' %}">Profile</a></li>
								<li class="dash"><a href="{% url 'contact' %}">Contact Us</a></li>
								<li class="dash"><a href="{% url 'about' %}">About Us</a></li>
							</ul>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2023 GameGeek Rights Reserved.<br>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static '/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static '/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static '/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static '/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static '/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static '/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static '/js/jquery.sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static '/js/main.js' %}"></script>

</body>
{% endblock %}
</html>