{% load static %}
{% block brand %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>All Games</title>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'img/Games/GGicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>   
	    .checked {
	      color: orange;
		}

        .product-lists {
            margin-left: 20%; /* Adjust the value as needed to move it more to the right */
        }

		.container.content-space-1 {
            margin-left: -350px; /* Set the left margin to 0 to move it to the left */
            padding-left: 0; /* Set the left padding to 0 to move it to the left */
		}

		.single-product-item {
            margin-right: -5px; 
		 }

        .GAMES {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin-top: -360px;
			margin-left: 150px;
		}		

		.sort{
			position: relative;
            top: -106px;
			left: 28px;
            width: 2129px;
}

		option{
			margin-left: 2px;
		}

		select {
			appearance: none;
			background: transparent;
			border: none;
			border: 0.5px solid;
			cursor: inherit;
			width: 12%;
			cursor: pointer;
			font-size: 16px;
			font-weight: 600;
			border-radius:5px;
            background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
            background-repeat: no-repeat;
            background-position: right 0.7rem top 50%;
            background-size: 0.65rem auto;
		}

		.category summary {
			font-weight: bold;
			padding: 0.5em;
			margin-top: -10px;
		}

		#filter{
			font-size: 22px;
		}

		#Ftitle{
			font-size: 20px;
		}

		.filter-container {
			border: 0.2px solid #aaa;
            border-radius: 4px;
            padding: 20px;
            margin: 0 -10px;
            width: 130%; 
			margin-top: -100px;
			position: relative;

        }

		#clearFilters{
			font-family: 'Poppins', sans-serif;
            background-color: #ff069a;
            color: #fff;
            padding: 10px 20px;
			border-radius: 20px;
            width: 180px;
			margin-left: 10px;
			margin-top: 10px;
		}
		.games{
			color: #fff;
		}
		.innerList{
			padding-left: 40px;
            padding-bottom: 19px;
		}
		ul{
           list-style: none;
		}
		#footer{
			justify-content: space-between;
		}
		summary::-webkit-details-marker {
          display: none;}

		.summaryFooter{
    list-style-type: none; /* For non-Chrome browsers */}
		button{
			font-weight: bolder;
		}

		#clearFilters:hover {
         background-color: #06f7ff;
         color: #fff;
		}

		.gmaes{
			font-weight: 400;
		}

		.footer-area {
         padding: 120px 0px;
		}

		.sizeRange{
			margin: 20px;
		}

		.AppliedFilters{
			position: absolute;

		}
		input[type="checkbox"]{
			cursor: pointer;
		}
		.result-text {
		position: relative;
		top:-80px;
		left: 90px;
		font-size: 16px;
        font-weight: bold;
    }


    .checkbox-value {
        font-weight: normal;
        color: #333;
    }

    .remove-button {
        cursor: pointer;
        margin-left: 5px;
        color: gray;
        font-weight: bold;
    }

	.mt-150 {
      margin-top: 150px;
	}

.checkbox-container {
		position: relative;
		top:-80px;
		left: 100px;
		display: inline-flex;
        align-items: center;
        margin: 5px;
        padding: 3px;
        border: none;
        border-radius: 5px;
		background-color: #f7f0d2;
		box-shadow: 0 0 20px #e4e4e4
}


.footer-area {
  padding: 30px 0px;
  padding-top: 60px;
}

.pagination-wrap {
  margin-top: 20px;
  margin-right: -50px;
}

    </style>

</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
							<!-- logo -->
							<div class="site-logo">
								<a href="{% url 'Games' %}">	<img src="{% static 'img/Games/GameGeek.png' %}" alt="logo">
								</a>
							</div>
							<nav class="main-menu">
								<ul>
									
									<li><a href=#>Games</a>
										<ul class="sub-menu">
											<li><a href="{% url 'Games' %}">All Games</a></li>
											<li><a href="{% url 'Fav' %}">Favourite Games</a></li>
											<li><a href="{% url 'History' %}">Downloaded Games</a></li>
											
										</ul>
									</li>
									<li><a href="{% url 'profile' %}">Profile</a>
									<li><a href="{% url 'contact' %}">Contact Us</a></li>
									<li><a href="{% url 'about' %}">About Us</a></li>

								<li>
									<div class="header-icons">
									
										<a class="boxed-btn" id="login-btn" href="{% url 'LogoutUser' %}"  style="font-size: 20px;">Log Out</a>
									</div>
								</li>
							</ul>
						</nav>
						<div class="mobile-menu"></div>
						<!-- menu end -->
						<div class="helloUserName"><i class="fa fa-user" aria-hidden="true"></i>&nbsp<span id="welcome" style="font-weight: 700;"></span></div>

						<script>
							$(document).ready(function() {
								$.ajax({
									url: '/BackEnd/Hello/',
									type: 'GET',
									success: function(data) {
										if (data.error) {
											console.error('Error:', data.error);
										} else {
											$('#welcome').text('Hello ' + data.Username + '! (' + data.Age_group + ')');
										}
									},
									error: function(xhr, status, error) {
										console.error('Error:', error);
									}
								});
							});
							</script>
							

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

		<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>All Games</h1>
						<p>
						<span class="blue">where</span>
							<span class="black"> happiness</span>
							<span class="pink">is met</span>
						</p>
					</div>
				</div>
				<ul class="Realbreadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'index' %}" >Home</a></li>
					<li class="breadcrumb-item"><a href="{% url 'signup' %}" >Sign Up</a></li>
					<li class="breadcrumb-item current"><a href="{% url 'Games' %}">All Games</a></li>
				  </ul>
			</div>
		</div>
	</div>
	  


	<!-- games -->
	<div class="product-section mt-150 mb-150">


						
		<div class="sort">
			<!-- Select -->
			<select>
			  <option selected disabled>Sort by</option>
			  <option>Newest Games</option>
			  <option>Highest Price</option>
			  <option>Lowest Price</option>
			  <option>Highest Rating</option>
			  <option>Lowest Rating</option>
			  <option>Largest Size</option>
			  <option>Samllest Size</option>

			</select>
			<!-- End Select -->
		</div>

		<div class="container">


		<!-- AppliedFilters -->
			<div class="AppliedFilters">
				<div id="resultsForText" class="result-text"></div>
			</div>
		<!-- End of AppliedFilters -->	
			<div class="row product-lists">

<!-- Card Grid -->
<div class="container content-space-1">
	<div class="row">
	  <div class="col-lg-3">
		<!-- Navbar -->
		<div class="navbar-expand-lg mb-5">  
		  <!-- Navbar Collapse -->
		  <div id="navbarVerticalNavMenuEg2" class="collapse navbar-collapse">
			<div class="w-100">
				<div class="filter-container">
					
				    <h5 id="Ftitle">
					<i class="bi bi-filter" id="filter-icon"></i>
					Filters</h5>
					
					  <details class="category">
						  <summary>Genre</summary>
						  <div class="border-bottom pb-4 mb-4">			  
							  <div class="d-grid gap-2">
								  <div class="form-check">
									  <input class="form-check-input" type="checkbox" value="Strategy">
									  <label class="form-check-label">Strategy</label>
								  </div>
			  
								  <div class="form-check">
									  <input class="form-check-input" type="checkbox" value="Puzzle">
									  <label class="form-check-label">Puzzle</label>
								  </div>
			  
								  <div class="form-check">
									  <input class="form-check-input" type="checkbox" value="Board">
									  <label class="form-check-label">Board</label>
								  </div>
			  
								  <div class="form-check">
									  <input class="form-check-input" type="checkbox" value="Action">
									  <label class="form-check-label">Action</label>
								  </div>
			  
								  <div class="form-check">
									  <input class="form-check-input" type="checkbox" value="Entertainment">
									  <label class="form-check-label">Entertainment</label>
								  </div>
							  </div>
						  </div>
					  </details>
			  
					  <details class="category">
						  <summary>Price</summary>
						  <div class="border-bottom pb-4 mb-4">			  
							  <div class="d-grid gap-2">
								  <div class="form-check">
									  <input class="form-check-input" type="checkbox" value="Free - Price">
									  <label class="form-check-label">Free</label>
								  </div>
			  
								  <div class="form-check">
									  <input class="form-check-input" type="checkbox" value="Paid - Price">
									  <label class="form-check-label">Paid</label>
								  </div>
							  </div>
						  </div>
					  </details>
			  
					  <details class="category">
						  <summary>Language</summary>
						  <div class="border-bottom pb-4 mb-4">

							  <div class="d-grid gap-2">
								  <div class="form-check">
									  <input class="form-check-input" type="checkbox" value="Arabic">
									  <label class="form-check-label">Arabic</label>
								  </div>
			  
								  <div class="form-check">
									  <input class="form-check-input" type="checkbox" value="English">
									  <label class="form-check-label">English</label>
								  </div>
			  
								  <div class="form-check">
									  <input class="form-check-input" type="checkbox" value="French">
									  <label class="form-check-label">French</label>
								  </div>
			  
								  <div class="form-check">
									  <input class="form-check-input" type="checkbox" value="Dutch">
									  <label class="form-check-label">Dutch</label>
								  </div>
							  </div>
						  </div>
					  </details>
			  
					  <details class="category">
						  <summary>In-App Purchases</summary>
						  <div class="border-bottom pb-4 mb-4">
			  
							  <div class="d-grid gap-2">
								  <div class="form-check">
									  <input class="form-check-input" type="checkbox" value="Yes - In-App Purchases">
									  <label class="form-check-label">Yes</label>
								  </div>
			  
								  <div class="form-check">
									  <input class="form-check-input" type="checkbox" value="No - In-App Purchases ">
									  <label class="form-check-label">No</label>
								  </div>
							  </div>
						  </div>
					  </details>


					  <details class="category">
						<summary>Size</summary>
						<div class="border-bottom pb-4 mb-4">
			
							<div class="d-grid gap-2">
								<div class="InformationDrawer_content">
									<section class="RangeFilter_container">
									  <div class="RangeFilter_row">
										<div class="RangeFilter_inputs">
										  <div>
											<div class="NumberInput_inputContainer">
											  <input class="NumberInput" autocomplete="off" type="number" value="" name="" style=" padding: 5px; width: 70px; margin-bottom: 0px;">
											  <span class="style=font-size: 14px;">Mega Bytes</span>
											</div>
										  </div>
										  <span class="sizeRange">to</span>
										  <div>
											<div class="NumberInput_inputContainer">
											  <input class="NumberInput" autocomplete="off" type="number" value="" name=""  style=" padding: 5px; width: 70px; margin-bottom: 0px;">
											  <span style="font-size: 14px;">Mega Bytes</span>
											</div>
										  </div>
										</div>
									  </div>
									</section>
								  </div>
							</div>
						</div>
					</details>
			  
					  <details class="category">
						  <summary>Rating</summary>
						  <div class="border-bottom pb-4 mb-4">
			  
							  <div class="d-grid gap-2">
								  <div class="form-check">
									  <input class="form-check-input" type="checkbox" value="1 start" id="1starCheckbox">
									  <label class="form-check-label" for="1starCheckbox">
										  <span class="d-flex gap-1">
											  <span class="fa fa-star checked"></span>
											  <span class="fa fa-star"></span>
											  <span class="fa fa-star"></span>
											  <span class="fa fa-star"></span>
											  <span class="fa fa-star"></span>
										  </span>
									  </label>
								  </div>
			  
								  <div class="form-check">
									  <input class="form-check-input" type="checkbox" value="2 stars" id="2starCheckbox">
									  <label class="form-check-label" for="2starCheckbox">
										  <span class="d-flex gap-1">
											  <span class="fa fa-star checked"></span>
											  <span class="fa fa-star checked"></span>
											  <span class="fa fa-star"></span>
											  <span class="fa fa-star"></span>
											  <span class="fa fa-star"></span>
										  </span>
									  </label>
								  </div>
			  
								  <div class="form-check">
									  <input class="form-check-input" type="checkbox" value="3 stars" id="3starCheckbox">
									  <label class="form-check-label" for="3starCheckbox">
										  <span class="d-flex gap-1">
											  <span class="fa fa-star checked"></span>
											  <span class="fa fa-star checked"></span>
											  <span class="fa fa-star checked"></span>
											  <span class="fa fa-star"></span>
											  <span class="fa fa-star"></span>
										  </span>
									  </label>
								  </div>
			  
								  <div class="form-check">
									  <input class="form-check-input" type="checkbox" value="4 stars" id="4starCheckbox">
									  <label class="form-check-label" for="4starCheckbox">
										  <span class="d-flex gap-1">
											  <span class="fa fa-star checked"></span>
											  <span class="fa fa-star checked"></span>
											  <span class="fa fa-star checked"></span>
											  <span class="fa fa-star checked"></span>
											  <span class="fa fa-star"></span>
										  </span>
									  </label>
								  </div>
			  
								  <div class="form-check">
									  <input class="form-check-input" type="checkbox" value="5 start" id="5starCheckbox">
									  <label class="form-check-label" for="5starCheckbox">
										  <span class="d-flex gap-1">
											  <span class="fa fa-star checked"></span>
											  <span class="fa fa-star checked"></span>
											  <span class="fa fa-star checked"></span>
											  <span class="fa fa-star checked"></span>
											  <span class="fa fa-star checked"></span>
										  </span>
									  </label>
								  </div>
							  </div>
						  </div>
						   </details>
					    </details>
						<div class="d-grid">
							<button type="button" class="btn btn-white btn-transition" id="clearFilters">Clear all</button>
						</div>
					  </div>	
					</div>
					
					<script>
						const genreCheckboxes = document.querySelectorAll('input[type="checkbox"]');
						const resultsForText = document.getElementById('resultsForText');
						const clearFiltersButton = document.getElementById('clearFilters');
					
						genreCheckboxes.forEach(checkbox => {
							checkbox.addEventListener('change', updateSelectedFilters);
						});
					
						clearFiltersButton.addEventListener('click', clearAllFilters);
					
						resultsForText.addEventListener('click', (event) => {
							if (event.target.classList.contains('remove-button')) {
								const value = event.target.getAttribute('data-value');
								removeFilter(value);
							}
						});
					
						function updateSelectedFilters() {
							const selectedFilterValues = Array.from(genreCheckboxes)
								.filter(checkbox => checkbox.checked)
								.map(checkbox => checkbox.value);
					
							resultsForText.innerHTML = '';
					
							if (selectedFilterValues.length > 0) {
								resultsForText.style.display = 'inline';
								resultsForText.innerHTML = "<span class='result-text'>Results For: </span>";
					
								selectedFilterValues.forEach(value => {
									const container = document.createElement('span');
									container.className = 'checkbox-container';
					
									const checkboxValue = document.createElement('span');
									checkboxValue.className = 'checkbox-value';
									checkboxValue.textContent = value;
					
									const removeButton = document.createElement('span');
									removeButton.className = 'remove-button';
									removeButton.textContent = 'X';
									removeButton.setAttribute('data-value', value);
					
									container.appendChild(checkboxValue);
									container.appendChild(removeButton);
					
									resultsForText.appendChild(container);
								});
							} else {
								resultsForText.style.display = 'none';
								resultsForText.textContent = '';
							}
						}
					
						function removeFilter(value) {
							const checkbox = document.querySelector(`input[type="checkbox"][value="${value}"]`);
							if (checkbox) {
								checkbox.checked = false;
							}
							updateSelectedFilters();
						}
					
						function clearAllFilters() {
							genreCheckboxes.forEach(checkbox => {
								checkbox.checked = false;
							});
							updateSelectedFilters();
						}
					</script>
			</div>
		  </div>
		  <!-- End Navbar Collapse -->
		</div>
		<!-- End Navbar -->
	  </div>
	  <!-- End Col -->
	</div>
	<!-- End Row -->
  </div>
  <!-- End Card Grid -->
       <div class="GAMES">
				<div class="col-lg-4 col-md-6 text-center strawberry ">
					<div class="single-product-item">
						<div class="product-image">
							<a href="" ><img src="" alt=""></a>
						</div>
						<h3></h3>
						<form id="gameInfoForm">
						<input type="hidden" id="gameIdInput" name="game_id">
						<button type="button" id="moreInfoButton">More info</button>
						</form>
					</div>
				</div>

	</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="pagination-wrap">
						<ul>
							<li><a href="#">Prev</a></li>
							<li><a class="active" href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">Next</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end games -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row" id="footer">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">Our Guarantee</h2>
						<p>At Game Geek, we combine entertainment along with safeguarding. We're committed to enhancing the game-finding experience by expertly tailoring it to your age and preferences as a cutting-edge platform.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li><a href="mailto:support@gamegeek.com" class="mail">
								<i class="fas fa-envelope"></i>&#160;&#160;GameGeekWebsite@gmail.com
							</a></li>
							<li>
								<a href="https://www.instagram.com/Game_Geek2023" target="_blank">
								  <i class="fab fa-instagram"></i>&#160;&#160; Game_Geek2023
								</a>
							</li>
							<li>
								<a href="https://www.X.com/Game_Geek2023" target="_blank">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" version="1.1" width="13" height="13" class="X">
									<path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z" fill="white"/>
									</svg>&#160;&#160; <span style="position: relative; top: 2px;">Game_Geek2023</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul class= "outerList">
							<details><summary class="summaryFooter"><li class="gmaes">Games</li></summary>
								<ul class="innerList">
									<li class="dash"><a href="{% url 'Games' %}">All Games</a></li>
									<li class="dash"><a href="{% url 'Fav' %}">Favourite Games</a></li>
									<li class="dash"><a href="{% url 'History' %}">Downloaded Games</a></li>
								</ul></details>
								<li class="dash"><a href="{% url 'profile' %}">Profile</a></li>
								<li class="dash"><a href="{% url 'contact' %}">Contact Us</a></li>
								<li class="dash"><a href="{% url 'about' %}">About Us</a></li>
							</ul>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2023 GameGeek Rights Reserved.<br>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static '/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static '/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static '/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static '/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static '/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static '/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static '/js/jquery.sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static '/js/main.js' %}"></script>
<script>
	var selectedGameId;
	var currentPage = 1;  // Initialize current page

function makeAjaxRequest(page, slice) {
    $.ajax({
        url: `/BackEnd/retrieve_all_games/?page=${page}&slice=${slice}`,
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            // Log the data to the console for testing
            console.log(data);
            // Call a function to update the HTML with the retrieved data
            updateGamesContainer(data.games_data);
        },
        error: function (error) {
            console.error('Error making AJAX request:', error);
        }
    });
}

function updateGamesContainer(data) {
    var gamesContainer = $('.GAMES');
    gamesContainer.empty();  // Clear the container

    // Loop through the games in the JSON response and update the HTML
    for (var i = 0; i < data.length; i++) {
        var game = data[i];
        var gameHTML = `
            <div class="col-lg-4 col-md-6 text-center game-item" data-game-id="${game.ID}">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="${game.URL}"><img src="${game.Icon_URL}" alt=""></a>
                    </div>
                    <h3>${game.Name}</h3>
                    <a href="#" class="cart-btn more-info-btn">More info</a>
                </div>
            </div>
        `;
        gamesContainer.append(gameHTML);
    }

    // Set up click event for the "More Info" buttons
    $('.more-info-btn').on('click', function(e) {
        e.preventDefault(); // Prevent the default link behavior
        // Get the game ID from the clicked item's data attribute
        selectedGameId = $(this).closest('.game-item').data('game-id');
        // Redirect to the game info page with the selected game ID
        window.location.href = `/game_info_page/${selectedGameId}/`;
    });
}

// Make a request for the second page with slice 3 (games from 20 to 29)
makeAjaxRequest(1, 1);
</script>

</body>
{% endblock %}
</html>