{% load static %}
{% block brand %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Game Inforomation</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'img/Games/GGicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

	<style>
.empty-message {
        text-align: center;
        padding: 7%; 
        margin-top: 10%; 
        margin-right: 10%;
        font-size: 120%; 
        color: #ff069a; 
        font-family: "Poppins", sans-serif;

}
		.games{
			color: #fff;
		}
		.innerList{
			padding-left: 40px;
            padding-bottom: 19px;
		}
		ul{
           list-style: none;
		}
		#footer{
			justify-content: space-between;
		}
		summary::-webkit-details-marker {
          display: none;}

		  summary {
    list-style-type: none; /* For non-Chrome browsers */}
		a{
			font-weight:500;
			text-decoration: none;
		}
		.col-md-7{
		padding-left:5%;}
		.site-logo img{
		width: 200px;
			height: 100px;
			position: relative;
			left: -25px;
		}

.popup {
  display: none;
  position: fixed;
  top: -20%;
 margin:10% 0%;
  width: 100%;
  height: 100%;
  padding:10% 5%;
  left: 0%;
}

.popup-content {
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 600px;
  margin: 10% auto 0 auto;
  padding: 3%;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  padding: 20px;
  width: 40%;

}
	</style>

</head>
<body>

	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
							<!-- logo -->
							<div class="site-logo">
								<a href="{% url 'Games' %}">	<img src="{% static 'img/Games/GameGeek.png' %}" alt="logo">
								</a>
							</div>
							<!-- logo -->

							<!-- menu start -->
							<nav class="main-menu">
								<ul>

									<li><a href=#>Games</a>
										<ul class="sub-menu">
											<li><a href="{% url 'Games' %}">All Games</a></li>
											<li><a href="{% url 'Fav' %}">Favourite Games</a></li>
											<li><a href="{% url 'History' %}">Visited Store Games</a></li>

										</ul>
									</li>
									<li><a href="{% url 'profile' %}">Profile</a>
									<li><a href="{% url 'contact' %}">Contact Us</a></li>
									<li><a href="{% url 'about' %}">About Us</a></li>
								<li>
									<div class="header-icons">

										<a class="boxed-btn" id="login-btn" href="{% url 'LogoutUser' %}"  style="font-size: 20px;">Log Out</a>
									</div>
								</li>
							</ul>
						</nav>
						<div class="mobile-menu"></div>
						<!-- menu end -->
						<div class="helloUserName"><i class="fa fa-user" aria-hidden="true"></i>&nbsp<span id="welcome" style="font-weight: 700;"></span></div>

						<script>
							//------------------------------Hello Username:
							$(document).ready(function() {
								$.ajax({
									url: '/BackEnd/Hello/',
									type: 'GET',
									success: function(data) {
										if (data.error) {
											console.error('Error:', data.error);
										} else {
											$('#welcome').text('Hello ' + data.Username + '! (' + data.Age_group + ')');
										}
									},
									error: function(xhr, status, error) {
										document.getElementById("errorPopUp").style.display = "block";
										console.error('Error:', error);
									}
								});
								document.getElementById('errorContainer').style.display = 'none';
							});

							//------------------------------ add To Favorites
									function addToFavorites(gameId) {
									$.ajax({
											url: `/BackEnd/add_to_favorites/${gameId}/`,
											type: 'GET',
										dataType: 'json',
										success: function (data) {
											console.log('Added to Favorites:', data);
											if (data.error) {
													console.error('Error adding to favorites:', data.error);
													document.getElementById('errorContainer').style.display = 'block';
													var errorMessageDiv = document.getElementById('errorContainer');
													errorMessageDiv.innerHTML = '<p style="color: red;">You already saved this game!</p>';
											}
										},
										error: function (error) {
												console.error('Error making AJAX request:', error);
										}
										});
									}

								//------------------------------ retrieve the recent view games
									// section for recently viewed 								
								function generateGameHtml(game) {
										return `
											<div class="col-lg-4 col-md-6 text-center game-item" data-game-id="${game.id}">
												<div class="single-product-item">
													<div class="product-image">
														<a href="${game.url}" class="urls"><img src="${game.icon_url}" alt="" class="imgs"></a>
													</div>
													<h3 class="names">${game.name}</h3>
													<a href="${game.url}" class="cart-btn more-info-btn" style="text-decoration: none;">More info</a>
												</div>
											</div>`;
									}

										function updateRecentlyViewedGamesContainer(recentlyViewedGames) {
											var recentlyViewedContainer = $('.recentlyViewedGamesContainer');
											

											if (recentlyViewedGames.length > 0) {
												//recentlyViewedContainer.html('<div class="col-lg-8 offset-lg-2 text-center"><div class="section-title"><h3>Recently&nbsp;<span class="pink-text">Viewd</span> Games</h3></div></div><div class="row"></div>');
												recentlyViewedContainer.html('<div class="row"></div>'); // this one if the section title needed with html 
												

												// Reverse the order of recently viewed games
													recentlyViewedGames.reverse().forEach(function (game) {
														var gameHtml = generateGameHtml(game);
														recentlyViewedContainer.find('.row').append(gameHtml);
													});
											} else {
												recentlyViewedContainer.html('<p class="empty-message">There are no viewed games yet. Explore and discover new games!</p>');// this one if the section title needed with html 
												console.log('no viewed games yet ');

											}
										}

//----------------------------------------- More Info button									
							// Function to get the value of a cookie by name
							function getCookie(name) {
								var cookieValue = null;
								if (document.cookie && document.cookie !== '') {
									var cookies = document.cookie.split(';');
									for (var i = 0; i < cookies.length; i++) {
										var cookie = cookies[i].trim();
										// Check if this cookie string begins with the name we want
										if (cookie.substring(0, name.length + 1) === (name + '=')) {
											cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
											break;
										}
									}
								}
								return cookieValue;
							}

							// Handle "More info" button click
							$(document).on('click', '.more-info-btn', function (e) {
								e.preventDefault();
								var gameId = $(this).closest('.game-item').data('game-id');
								window.location.href = `/game_info_page/${gameId}/`;

								// Add the game to recently viewed when "More Info" is clicked
								addToRecentlyViewed(gameId);
							});

							// Function to add the game to recently viewed
							function addToRecentlyViewed(gameId) {
								$.ajax({
									url: `/BackEnd/add_to_recently_viewed/${gameId}/`,
									type: 'POST',
									dataType: 'json',
									headers: {
										'X-CSRFToken': getCookie('csrftoken'),  // Include the CSRF token
									},
									success: function (data) {
										console.log('Added to Recently Viewed fisrt :', data);
										// You can handle success as needed
									},
									error: function (error) {
										console.error('Error making AJAX request:', error);
									}
								});
							}
												
					


							</script>					
							
						</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<!-- search area -->

	<!-- end search arewa -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1 class="name"></h1>
						<p>
							<span class="blue">See</span>
							<span class="black"> more</span>
							<span class="pink">Details</span>
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
	<ul class="Realbreadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'Games' %}" >All Games</a></li>
					<li class="breadcrumb-item current"><a href="{% url 'game_info_page' game_id=game_id %}">Game Information</a></li>
				 </ul>
	<!-- single product -->
	<div class="single-product mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
    <div class="single-product-img">
        <img src="" id="gameImageINFO" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px; ">
    </div>
</div>
				<div class="col-md-7">
					<div class="single-product-content">
						<h2 class="name"></h2>

						<p class="disc"></p>

						<div class="single-product-form">

							<p class="genre"></p>
							<p class="Lang"></p>
							<p class="rDate"></p>
							<p class="Developer"></p>
							<p class="size"></p>
							<p class="rateC"></p>
							<p class="age"></p>
							<p class="price"></p>
							<p class="purch"></p>


							<a href="#" class="cart-btn" id="favBtn"><i class="fas fa-regular fa-heart"></i> <span id="favText">Add to Favourite Games</span></a>
							<a href="javascript:void(0);" class="cart-btn download" id="copyBtn"><i class="fas fa-solid fa-link"></i><span id="copyText">Go to The Download Page!</span></a>

							<div id="errorContainer"></div>
							<script>
							//------------------------------ Favorite button
                                const favBtn = document.getElementById('favBtn');
                                const favText = document.getElementById('favText');

                                favBtn.addEventListener('click', function (event) {
                                event.preventDefault();
								var gameId = window.location.pathname.split('/').filter(Boolean).pop();
								addToFavorites(gameId);
                                    if (favText.textContent === 'Add to Favourite Games') {
                                        favText.textContent = 'Saved to Favourite Games!';
                                    }});

							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end single product -->

	<!-- recent games -->
	<!--<div class="product-section mt-150 mb-150">--> <!--all sections-->
	<div class="more-products mb-150">
		<div class="container">
			 <div class="col-lg-8 offset-lg-2 text-center"><div class="section-title"><h3>Recently&nbsp;<span class="pink-text">Viewd</span> Games</h3></div></div><div class="row"></div>
				<div class="recentlyViewedGamesContainer">
				<!-- Games will be dynamically added here -->
				</div>
	    </div>
	</div>
	<!-- end recent games products -->


	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row" id="footer">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">Our Guarantee</h2>
						<p>At Game Geek, we combine entertainment along with safeguarding. We're committed to enhancing the game-finding experience by expertly tailoring it to your age and preferences as a cutting-edge platform.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li><a href="mailto:sGameGeekWebsite@gmail.com" class="mail">
								<i class="fas fa-envelope"></i>&#160;&#160;GameGeekWebsite@gmail.com
							</a></li>
							<li>
								<a href="https://www.instagram.com/Game_Geek2023" target="_blank">
								  <i class="fab fa-instagram"></i>&#160;&#160; Game_Geek2023
								</a>
							</li>
							<li>
								<a href="https://www.X.com/Game_Geek2023" target="_blank">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" version="1.1" width="13" height="13" class="X">
									<path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z" fill="white"/>
									</svg>&#160;&#160; <span style="position: relative; top: 2px;">Game_Geek2023</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul class= "outerList">
							<details><summary><li class="gmaes">Games</li></summary>
								<ul class="innerList">
									<li class="dash"><a href="{% url 'Games' %}">All Games</a></li>
									<li class="dash"><a href="{% url 'Fav' %}">Favourite Games</a></li>
									<li class="dash"><a href="{% url 'History' %}">Visited Store Games</a></li>
								</ul></details>
								<li class="dash"><a href="{% url 'profile' %}">Profile</a></li>
								<li class="dash"><a href="{% url 'contact' %}">Contact Us</a></li>
								<li class="dash"><a href="{% url 'about' %}">About Us</a></li>
							</ul>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->

	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2023 GameGeek Rights Reserved.<br>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->

	<!-- jquery -->
	<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static '/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static '/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static '/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static '/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static '/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static '/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static '/js/jquery.sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static '/js/main.js' %}"></script>
<script>

	//------------------------------ retrieve game info

document.addEventListener('DOMContentLoaded', function () {
    
	var gameIdFromUrl = window.location.href.split('/').filter(Boolean).pop();
	console.log("gameId:",gameIdFromUrl);

	//------------------------------ retrieve recently viewed games
$.ajax({
	url: '/BackEnd/recently_viewed_games/',
	type: 'GET',
	dataType: 'json',
	success: function (data) {
		console.log('Recently Viewed Games Data :', data);

		if (data.games) {
			// Exclude the current game ID from the recently viewed list
			var filteredGames = data.games.filter(function (game) {
				return game.id !== parseInt(gameIdFromUrl, 10);
			});
			updateRecentlyViewedGamesContainer(filteredGames);
		} else {
			console.log('No data.games received.'); // Log a message for debugging
		}
	},
	error: function (error) {
		console.error('Error making AJAX request:', error);
	}
});

	//------------------------------ retrieve game info
	// Function to retrieve game information
    function retrieveGameInfo(gameId) {
        $.ajax({
            url: `/BackEnd/retrieve_game_info/?ID=${gameId}`,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log('Retrieved Game Information:', data);

                // Update the HTML content with the retrieved data
                updateGameContent(data.games_data);
            },
            error: function (error) {
                console.error('Error making AJAX request:', error);
            }
        });
    }

    function updateGameContent(gameData) {
        // Get elements by their class names and update their content
        var nameElements = document.querySelectorAll('.name');

        // Update the content of each element
        nameElements.forEach(function (element) {
            element.textContent = gameData.Name;
        });

        // Update the description element
        var descriptionElement = document.querySelector('.disc');
        if (descriptionElement) {
            var maxCharacters = 430;
            var descriptionText = gameData.Description;

            if (descriptionText.length > maxCharacters) {
                var truncatedText = descriptionText.substring(0, maxCharacters) + '...';
                descriptionElement.innerHTML = truncatedText;

                var readMoreLink = document.createElement('a');
                readMoreLink.href = '#'; // Add the appropriate link for "read more"
                readMoreLink.textContent = 'Read more';
                readMoreLink.addEventListener('click', function(e) {
                    e.preventDefault();
                    descriptionElement.innerHTML = descriptionText;
                });

                // Append the "Read more" link
                descriptionElement.insertAdjacentElement('beforeend', readMoreLink);
            } else {
                // If the description is not truncated, display the full text
                descriptionElement.innerHTML = descriptionText;
            }

            descriptionElement.style.textAlign = 'justify';
        }

        // Update the genre element
        var genreElement = document.querySelector('.genre');
        if (genreElement) {
            genreElement.innerHTML = '<strong>Genres:</strong> ' + gameData.Genres;
        }

        // Update the image element
        var imageElement = document.getElementById('gameImageINFO');
        if (imageElement) {
            console.log('Image URL:', gameData.Icon_URL); // Log the URL to the console for debugging
            imageElement.src = gameData.Icon_URL; // Use the actual property from your game data
        }

        document.querySelector('.Lang').innerHTML = '<strong>Languages:</strong> ' + gameData.Languages;
        document.querySelector('.rDate').innerHTML = '<strong>Release Date:</strong> ' + gameData.Original_Release_Date+'.';
        document.querySelector('.Developer').innerHTML = '<strong>Developer:</strong> ' + gameData.Developer;
        document.querySelector('.age').innerHTML = '<strong>Age Rating:</strong> ' + gameData.Age_Rating+'.';
        document.querySelector('.price').innerHTML = '<strong>Price:</strong> ' + gameData.Price+'.';
        document.querySelector('.purch').innerHTML = '<strong>In app Purchases:</strong> ' + gameData.In_app_Purchases+'.';
        document.querySelector('.size').innerHTML = '<strong>Size:</strong> ' + gameData.Size+'MB.';

		document.getElementById('copyBtn').addEventListener('click', function() {
			saveVisitedGame();
		});



	//------------------------------ save Visited Game
		function saveVisitedGame() {
			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/BackEnd/save_visited_game/' + window.location.pathname.split('/').filter(Boolean).pop() + '/');
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
			xhr.onload = function() {
				if (xhr.status === 200) {
					var response = JSON.parse(xhr.responseText);
					if (response.success) {
						console.log('Game visited and saved successfully.');
					} else {
						console.log('Game already visited -> date changed.');
					}
				}
			};
			xhr.send();
			updateDownloadElement(gameData.URL);
		}

		function updateDownloadElement(url) {
			var downloadElement = document.querySelector('.download');
			if (downloadElement) {
				downloadElement.href = url;
			}
		}
			
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = cookies[i].trim();
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
        // Update the rating element
        var ratingElement = document.querySelector('.rateC');
        if (ratingElement) {
            var ratingText;
            if (gameData.Average_User_Rating && gameData.Average_User_Rating.toLowerCase() !== 'nan') {
                ratingText = gameData.Average_User_Rating;
            } else {
                ratingText = 'Not Rated';
            }
            ratingElement.innerHTML = '<strong>Rating:</strong> ' + ratingText;
        }
    }

    // Extract the game ID from the URL
    var gameIdFromUrl = window.location.href.split('/').filter(Boolean).pop();

    // Call retrieveGameInfo to initiate the AJAX request
    retrieveGameInfo(gameIdFromUrl);
});

</script>
<script>

    function info(event) {
        event.preventDefault(); // Prevent the default link behavior

        // Get the clicked element
        var clickedElement = event.target;

        // Example: Get the value of the "data-game-id" attribute
        var gameNewID = clickedElement.getAttribute('data-game-id');

        // Use the attribute value as needed
        console.log('Clicked Game ID:', gameNewID);

        // Modify the URL
        var newURL = `/game_info_page/${gameNewID}/`;
        console.log('New URL:', newURL);

        // Replace the current URL with the new one and trigger a reload
        window.location.replace(newURL);
    }
</script>
</body>
{% endblock %}
</html>