{% load static %}
{% block brand %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Visited Store Games</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'img/Games/GGicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

	<style>

		.VisitedGamesContainer{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin-top: 1%;
			margin-left: 5%;
			position: relative;
		   justify-content: flex-start;
		}
		
		.empty-message {
				text-align: center;
				padding: 17%; 
				margin-top: 20%; 
				margin-right: 20%;
				font-size: 120%; 
				color: #ff069a; 
				font-family: "Poppins", sans-serif;
		
		}
				.games{
					color: #fff;
				}
				.innerList{
					padding-left: 40px;
					padding-bottom: 19px;
				}
				ul{
				   list-style: none;
				}
				#footer{
					justify-content: space-between;
				}
				summary::-webkit-details-marker {
				  display: none;}
		
				  summary {
				   list-style-type: none; /* For non-Chrome browsers */}
		
				button{
					font-weight: bolder;
				}
				h6{
				background-image: linear-gradient(to left, #07212e, #638494);
				color: transparent;
				background-clip: text;
				-webkit-background-clip: text;
		}
		
		.single-product-item {
		  position: relative;
		  margin-right: 1%;
		}
		.product-section{
		 height:auto;
		 overflow-y: auto; /* Enable vertical scrolling when content overflows */
		  flex-grow: 1; /* Allow the container to grow and take up available space */
		  min-height: calc(100vh - 100%);
		}
		
		.container {
			height:100%;}
		
		.site-logo img{
			width: 200px;
			height: 100px;
			position: relative;
			left: -25px;
		}
		
		body img{
		  max-width: 600px;
		}
		.popup {
		  display: none;
		  position: fixed;
		  top: -20%;
		 margin:10% 0%;
		  width: 100%;
		  height: 100%;
		  padding:10% 5%;
		  left: 0%;
		}
		
		.popup-content {
		  background-color: rgba(255, 255, 255, 0.7);
		  max-width: 600px;
		  margin: 10% auto 0 auto;
		  padding: 3%;
		  border: 1px solid #ccc;
		  border-radius: 50px;
		  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
		  padding: 20px;
		  width: 40%;
		
		}
		
			</style>
			
	</head>
	<body>
		
		<!--PreLoader-->
		<div class="loader">
			<div class="loader-inner">
				<div class="circle"></div>
			</div>
		</div>
		<!--PreLoader Ends-->
		
<!-- header -->
<div class="top-header-area" id="sticker">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 text-center">
				<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{% url 'Games' %}">	<img src="{% static 'img/Games/GameGeek.png' %}" alt="logo">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li><a href=#>Games</a>
									<ul class="sub-menu">
										<li><a href="{% url 'Games' %}">All Games</a></li>
										<li><a href="{% url 'Fav' %}">Favourite Games</a></li>
										<li><a href="{% url 'History' %}">Visited Store Games</a></li>
										
									</ul>
								</li>
								<li><a href="{% url 'profile' %}">Profile</a>
								<li><a href="{% url 'contact' %}">Contact Us</a></li>
								<li><a href="{% url 'about' %}">About Us</a></li>
							<li>
								<div class="header-icons">
								
									<a class="boxed-btn" id="login-btn" href="{% url 'LogoutUser' %}"  style="font-size: 20px;">Log Out</a>
								</div>
							</li>
						</ul>
					</nav>
					<div class="mobile-menu"></div>
					<!-- menu end -->
					<div class="helloUserName"><i class="fa fa-user" aria-hidden="true"></i>&nbsp<span id="welcome" style="font-weight: 700;"></span></div>

					<script>

 							//------------------------------Hello Username:                                                       
						$(document).ready(function() {
							$.ajax({
								url: '/BackEnd/Hello/',
								type: 'GET',
								success: function(data) {
									if (data.error) {
										console.error('Error:', data.error);
									} else {
										$('#welcome').text('Hello ' + data.Username + '! (' + data.Age_group + ')');
									}
								},
								error: function(xhr, status, error) {
									document.getElementById("errorPopUp").style.display = "block";
									console.error('Error:', error);
								}
							});

							//$('.VisitedGamesContainer').removeAttr('style');

							//------------------------------ retrieve the visited games							
							// Function to generate HTML for a single game
							function generateGameHtml(game) {
								return `
								<div class="col-lg-4 col-md-6 text-center game-item" data-game-id="${game.id}">
										<div class="single-product-item">
											<div class="product-image">
												<a href="${game.url}" class="urls"><img src="${game.icon_url}" alt="" class="imgs"></a>
											</div>
											<h3 class="names">${game.name}</h3>
											<h6 >Visited Date: ${game.visited_date}</h6>
											<a href="#" class="cart-btn more-info-btn">More info</a>
											
										</div>
									</div>`;
									
							    }

								$.ajax({
									url: '/BackEnd/visited_games/',
									type: 'GET',
									dataType: 'json',

								success: function(data) {
									if ('games' in data) {
									var gamesHtml = '';
									$.each(data.games, function(index, game) {
									game.order = index + 1; // Assign original order

									gamesHtml += generateGameHtml(game);
									});

									// Sort by visited date and original order
									data.games.sort(function(a, b) {
									var dateComparison = new Date(b.visited_date) - new Date(a.visited_date);
									return dateComparison !== 0 ? dateComparison : b.order - a.order;
									});

									// Create HTML for sorted games
									gamesHtml = '';
									$.each(data.games, function(index, game) {
										gamesHtml += generateGameHtml(game);
									});

									if (gamesHtml === '') {
									// No games visited, display a message
									$('.VisitedGamesContainer').html('<p class="empty-message"> No visited games to display. Start exploring and discover new games!</p>');
									} else {
									$('.VisitedGamesContainer').html(gamesHtml);
									} } else {
									console.error('Error getting visited games:', data.error);
									} },
							error: function(error) {
									console.error('Error getting visited games:', error);
									} 
								});

							 //----------------------------------------- More Info button									
							// Function to get the value of a cookie by name
							function getCookie(name) {
								var cookieValue = null;
								if (document.cookie && document.cookie !== '') {
									var cookies = document.cookie.split(';');
									for (var i = 0; i < cookies.length; i++) {
										var cookie = cookies[i].trim();
										// Check if this cookie string begins with the name we want
										if (cookie.substring(0, name.length + 1) === (name + '=')) {
											cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
											break;
										}
									}
								}
								return cookieValue;
							}

							// Handle "More info" button click
							$(document).on('click', '.more-info-btn', function (e) {
								e.preventDefault();
								var gameId = $(this).closest('.game-item').data('game-id');
								window.location.href = `/game_info_page/${gameId}/`;

								// Add the game to recently viewed when "More Info" is clicked
								addToRecentlyViewed(gameId);
							});

							// Function to add the game to recently viewed
							function addToRecentlyViewed(gameId) {
								$.ajax({
									url: `/BackEnd/add_to_recently_viewed/${gameId}/`,
									type: 'POST',
									dataType: 'json',
									headers: {
										'X-CSRFToken': getCookie('csrftoken'),  // Include the CSRF token
									},
									success: function (data) {
										console.log('Added to Recently Viewed:', data);
										// You can handle success as needed
									},
									error: function (error) {
										console.error('Error making AJAX request:', error);
									}
								});
							}
												
					});

						</script>					
				</div>
			</div>
		</div>
	</div>
</div>
		<!-- end header -->
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<h1>Visited Store Games</h1>
					<p>
					<span class="blue">Where</span>
						<span class="black"> Happiness</span>
						<span class="pink">is met</span>
					</p>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- end breadcrumb section -->
<ul class="Realbreadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'Games' %}" >All Games</a></li>
				<li class="breadcrumb-item current"><a href="{% url 'History' %}">Visited Store Games</a></li>
			</ul>
<!-- games -->
<div class="product-section mt-150 mb-150">
	<div class="container">

		<!--<div class="row">
			<div class="col-md-12">
			</div>
		</div>-->

		<div class="VisitedGamesContainer">
			<!-- Games will be dynamically added here -->
		</div>
			
		<!--<div class="row">
			<div class="col-lg-12 text-center">
				<div class="pagination-wrap">
					<ul>
					</ul>
				</div>
			</div>
		</div>-->

	</div>
</div>
<!-- end games -->
	
	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row" id="footer">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">Our Guarantee</h2>
						<p>At Game Geek, we combine entertainment along with safeguarding. We're committed to enhancing the game-finding experience by expertly tailoring it to your age and preferences as a cutting-edge platform.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li><a href="mailto:GameGeekWebsite@gmail.com" class="mail">
								<i class="fas fa-envelope"></i>&#160;&#160;GameGeekWebsite@gmail.com
							</a></li>
							<li>
								<a href="https://www.instagram.com/Game_Geek2023" target="_blank">
								  <i class="fab fa-instagram"></i>&#160;&#160; Game_Geek2023
								</a>
							</li>
							<li>
								<a href="https://www.X.com/Game_Geek2023" target="_blank">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" version="1.1" width="13" height="13" class="X">
									<path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z" fill="white"/>
									</svg>&#160;&#160; <span style="position: relative; top: 2px;">Game_Geek2023</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul class="outerList">
							<details><summary><li class="gmaes">Games</li></summary>
								<ul class="innerList">
									<li class="dash"><a href="{% url 'Games' %}">All Games</a></li>
									<li class="dash"><a href="{% url 'Fav' %}">Favourite Games</a></li>
									<li class="dash"><a href="{% url 'History' %}">Visited Store Games</a></li>
								</ul></details>
								<li class="dash"><a href="{% url 'profile' %}">Profile</a></li>
								<li class="dash"><a href="{% url 'contact' %}">Contact Us</a></li>
								<li class="dash"><a href="{% url 'about' %}">About Us</a></li>
							</ul>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2023 GameGeek Rights Reserved.<br>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static '/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static '/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static '/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static '/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static '/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static '/js/jquery.meanmenu.min.js' %}"></script>
	<!-- main js -->
	<script src="{% static '/js/main.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>
{% endblock %}
</html>