{% load static %}
{% block brand %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Downloaded Games</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'img/Games/GGicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">



	<style>
		.games{
			color: #fff;
		}
		.innerList{
			padding-left: 40px;
            padding-bottom: 19px;
		}
		ul{
           list-style: none;
		}
		#footer{
			justify-content: space-between;
		}
		summary::-webkit-details-marker {
          display: none;}

		  summary {
           list-style-type: none; /* For non-Chrome browsers */}

		button{
			font-weight: bolder;
		}
		h6{
        background-image: linear-gradient(to left, #07212e, #638494);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
}
		.container {
		height:100%;}
	.site-logo img{
  width: 200px;
    height: 100px;
	position: relative;
	left: -25px;
}
body img{
  max-width: 600px;
}


	</style>
</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
							<!-- logo -->
							<div class="site-logo">
								<a href="{% url 'Games' %}">	<img src="{% static 'img/Games/GameGeek.png' %}" alt="logo">
								</a>
							</div>
							<!-- logo -->
	
							<!-- menu start -->
							<nav class="main-menu">
								<ul>
									
									<li><a href=#>Games</a>
										<ul class="sub-menu">
											<li><a href="{% url 'Games' %}">All Games</a></li>
											<li><a href="{% url 'Fav' %}">Favourite Games</a></li>
											<li><a href="{% url 'History' %}">Downloaded Games</a></li>
											
										</ul>
									</li>
									<li><a href="{% url 'profile' %}">Profile</a>
									<li><a href="{% url 'contact' %}">Contact Us</a></li>
									<li><a href="{% url 'about' %}">About Us</a></li>
								<li>
									<div class="header-icons">
									
										<a class="boxed-btn" id="login-btn" href="{% url 'LogoutUser' %}"  style="font-size: 20px;">Log Out</a>
									</div>
								</li>
							</ul>
						</nav>
						<div class="mobile-menu"></div>
						<!-- menu end -->
						<div class="helloUserName"><i class="fa fa-user" aria-hidden="true"></i>&nbsp<span id="welcome" style="font-weight: 700;"></span></div>

						<script>
							$(document).ready(function() {
								$.ajax({
									url: '/BackEnd/Hello/',
									type: 'GET',
									success: function(data) {
										if (data.error) {
											console.error('Error:', data.error);
										} else {
											$('#welcome').text('Hello ' + data.Username + '! (' + data.Age_group + ')');
										}
									},
									error: function(xhr, status, error) {
										console.error('Error:', error);
									}
								});
							});
							</script>					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Downloaded Games</h1>
						<p>
						<span class="blue">All</span>
							<span class="black"> the fun</span>
							<span class="pink">is here</span>
						</p>
					</div>
				</div>
					<ul class="Realbreadcrumb">

					<li class="breadcrumb-item"><a href="{% url 'index' %}" >All Games</a></li>
					<li class="breadcrumb-item current"><a href="{% url 'History' %}" >Downloaded Games</a></li>

				  </ul>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- games -->
	<div class="product-section mt-150 mb-150" style="height:70%">
		<div class="container">

			<div class="row">
                <div class="col-md-12">
                  
                </div>
            </div>

			<div class="row product-lists" style="height:auto;">
				<div class="col-lg-4 col-md-6 text-center strawberry">
					<div class="single-product-item">
						<div class="product-image">
							<a href="" class="urls"><img src="" alt="" class="imgs"></a>
						</div>
						<h3 class="names"></h3>
						
						<a href="" class="cart-btn ids" onclick="info(event)" >More info</a>
						<br>
						<div style="display: flex; align-items: center;">
							<h6 style="margin-left: 55px; margin-top: 20px; font-size: 15px">Downloaded Date: 10/12/2023</h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center berry">
					<div class="single-product-item">
						<div class="product-image">
							<a href="" class="urls"><img src="" alt="" class="imgs"></a>
						</div>
						<h3 class ='names'></h3>
						
						<a href="" class="cart-btn ids" onclick="info(event)">More info</a>
						<br>
						<div style="display: flex; align-items: center;">
							<h6 style="margin-left: 55px; margin-top: 20px; font-size: 15px">Downloaded Date: 08/12/2023</h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center lemon">
					<div class="single-product-item">
						<div class="product-image">
							<a href="" class="urls"><img src="" alt="" class="imgs"></a>
						</div>
						<h3 class='names'></h3>
						
						<a href="" class="cart-btn ids" onclick="info(event)">More info</a>
						<br>
						<div style="display: flex; align-items: center;">
							<h6 style="margin-left: 55px; margin-top: 20px; font-size: 15px">Downloaded Date: 08/12/2023</h6>
						</div>
				</div>
				</div>
			</div>



			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="pagination-wrap">
						<ul>

						</ul>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end games -->

	<!-- logo carousel -->
	
	<!-- end logo carousel -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row" id="footer">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">Our Guarantee</h2>
						<p>At Game Geek, we combine entertainment along with safeguarding. We're committed to enhancing the game-finding experience by expertly tailoring it to your age and preferences as a cutting-edge platform.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li><a href="mailto:support@gamegeek.com" class="mail">
								<i class="fas fa-envelope"></i>&#160;&#160;GameGeekWebsite@gmail.com
							</a></li>
							<li>
								<a href="https://www.instagram.com/Game_Geek2023" target="_blank">
								  <i class="fab fa-instagram"></i>&#160;&#160; Game_Geek2023
								</a>
							</li>
							<li>
								<a href="https://www.X.com/Game_Geek2023" target="_blank">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" version="1.1" width="13" height="13" class="X">
									<path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z" fill="white"/>
									</svg>&#160;&#160; <span style="position: relative; top: 2px;">Game_Geek2023</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul class="outerList">
							<details><summary><li class="gmaes">Games</li></summary>
								<ul class="innerList">
									<li class="dash"><a href="{% url 'Games' %}">All Games</a></li>
									<li class="dash"><a href="{% url 'Fav' %}">Favourite Games</a></li>
									<li class="dash"><a href="{% url 'History' %}">Downloaded Games</a></li>
								</ul></details>
								<li class="dash"><a href="{% url 'profile' %}">Profile</a></li>
								<li class="dash"><a href="{% url 'contact' %}">Contact Us</a></li>
								<li class="dash"><a href="{% url 'about' %}">About Us</a></li>
							</ul>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2023 GameGeek Rights Reserved.<br>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static '/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static '/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static '/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static '/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static '/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static '/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static '/js/jquery.sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static '/js/main.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
$(document).ready(function () {
console.log("Document is ready.");
    // Function to fetch and display random high-rated games
    function fetchRandomGames() {
        var url = '/BackEnd/retrieve_random_high_rated_games/';

        $.ajax({
            url: url,
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log('Received data:', data);

                if (data && data.random_high_rated_games_data) {
                    displayGames(data.random_high_rated_games_data);
                } else {
                    console.error('Data format is not as expected:', data);
                }
            },
            error: function (xhr, textStatus, errorThrown) {
            console.log("error")

            }
        });
    }

    // Function to dynamically update the HTML with game data
   function displayGames(games) {
        console.log(games);
           var imageElements = document.querySelectorAll('.imgs');
        var nameElements = document.querySelectorAll('.names');
        var idElements = document.querySelectorAll('.ids');
        var urlElements = document.querySelectorAll('.urls');


       for (var j = 0, i = 6; i < 9 && i < games.length; i++, j++) {
         var game = games[i];

        // Select elements by class
        var imageElement = imageElements[j];
       var nameElement = nameElements[j];
       var idElement =idElements[j];
       urlElement=urlElements[j]
;


       idElement=idElements[j];
       idElement.setAttribute('data-game-id', game.ID);

        console.log(idElement.getAttribute('data-game-id'));

    imageElement.src=game.Icon_URL;
    nameElement.innerHTML=game.Name;
    urlElement.href=game.URL;





}
    }

    // Fetch random games when the page loads
    fetchRandomGames();
    console.log("fetchRandomGames function called.");
});
</script>
<script>
    function info(event) {
        event.preventDefault(); // Prevent the default link behavior

        // Get the clicked element
        var clickedElement = event.target;

        // Example: Get the value of the "data-game-id" attribute
        var gameNewID = clickedElement.getAttribute('data-game-id');

        // Use the attribute value as needed
        console.log('Clicked Game ID:', gameNewID);

        // Modify the URL
        var newURL = `/game_info_page/${gameNewID}/`;
        console.log('New URL:', newURL);

        // Replace the current URL with the new one and trigger a reload
        window.location.replace(newURL);
    }
</script>

</body>
{% endblock %}
</html>