{% load static %}
{% block brand %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Home</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'img/Games/GGicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

	<style>
		.site-logo img{
  width: 200px;
    height: 100px;
	position: relative;
	left: -28px;
}
body img{
  max-width: 600px;
}
		.games{
			color: #fff;
		}
		.innerList{
			padding-left: 40px;
            padding-bottom: 19px;
		}
		ul{
           list-style: none;
		}
		#footer{
			justify-content: space-between;
		}
		summary::-webkit-details-marker {
          display: none;}

		  summary {
    list-style-type: none; /* For non-Chrome browsers */}



		.hero-btns .boxed-btn{
		width:30%;
		}
		.subtitle h1{
		margin:auto;}


.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #ff069a 29%,
        #06f7ff 67%,
        #fff 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 5vw; /* Adjust the value as needed */
    letter-spacing: 2vw; /* Adjust the value as needed */
    line-height: 1.5;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* Media query for smaller screens */
@media (max-width: 768px) {
    .site-logo img {
        width: 80%;
        max-width: 100%;
        margin: 10px auto 0;

    }

    .hero-btns .boxed-btn {
        width: 80%;
        max-width: 100%;
        margin: 20px auto 0;
    }

    /* Additional adjustments for the login button or other elements if needed */
}
	</style>

</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{% url 'index' %}">	<img src="{% static 'img/Games/GameGeek.png' %}" alt="logo">
							</a>
						</div>

						<!-- menu start -->
						<nav class="main-menu">
							<ul>

								<li>
									<div class="header-icons">
									
										<a class="boxed-btn" id="login-btn" href="{% url 'login' %}" style="font-size: 20px;">Log In</a>
									</div>
								</li>
							</ul>
						</nav>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- search area -->


	<!-- end search area -->

	<!-- hero area -->
	<div class="hero-area hero-bg" style="background-size: 120%;">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle"></p>


							<div class="containeTitle">
								<div class="rowTitle">
								  <div class="col-md-12 text-center">
									<h3 class="animate-charcter">Welcome to Game Geek</h3>
								  </div>
								</div>
							  </div>
							  
							  
							<div class="hero-btns">
								<a href="{% url 'signup' %}"  class="boxed-btn">Join US</a>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i  class="fas fa-solid fa-gamepad"></i>
						</div>
						<div class="content">
							<h3>Variety of Games</h3>
							<p>Browse different type of games.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-solid fa-user-shield"></i>						</div>
						<div class="content">
							<h3>Safe</h3>
							<p>We ensure all games suits our user's age.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>24/7 Support</h3>
							<p>Get support all day</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
		
	<!-- end features list section -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="pink-text">Popular</span> Games</h3>
						<p>Discover the most popular games!</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a><img src="" alt="" class="imgs"></a>
						</div>
						<h3 class="names" ></h3>
					
						
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a><img src="" alt="" class="imgs"></a>
						</div>
						<h3 class="names"></h3>
						
						
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a><img src="" alt="" class="imgs"></a>
						</div>
						<h3 class="names" ></h3>
						
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script>
		$(document).ready(function () {
console.log("Document is ready.");
    // Function to fetch and display random high-rated games
    function fetchRandomGames() {
        var url = '/BackEnd/retrieve_random_high_rated_games/';

        $.ajax({
            url: url,
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log('Received data:', data);

                if (data && data.random_high_rated_games_data) {
                    displayGames(data.random_high_rated_games_data);
                } else {
                    console.error('Data format is not as expected:', data);
                }
            },
            error: function (xhr, textStatus, errorThrown) {

            }
        });
    }

    // Function to dynamically update the HTML with game data
 function displayGames(games) {
        console.log(games);
           var imageElements = document.querySelectorAll('.imgs');
        var nameElements = document.querySelectorAll('.names');

        for (var i = 3; i < 6 && i < games.length; i++) {
            var game = games[i];

            // Select elements by class
                var imageElement = document.getElementsByClassName('imgs')[i-3];
                var nameElement = document.getElementsByClassName('names')[i-3];
                imageElement.src=game.Icon_URL;
                nameElement.innerHTML=game.Name



            console.log('Image Element:', imageElement);
            console.log('Name Element:', nameElement);


        }
    }

    // Fetch random games when the page loads
    fetchRandomGames();
    console.log("fetchRandomGames function called.");
});
	</script>
	<!-- end product section -->

	<!-- cart banner section -->


	<div class="abt-section mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<img src="{% static 'img/Games/logo.png' %}" alt="logo" class="fill-div-image" width="400" height="400">


				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p class="top-sub">Since Year 2023</p>
						<h2>We are <span class="pink-text">Game Geek</span></h2>
						<p style="text-align:justify;">Game Geek is a platform that offers multiple in-app video games for different age groups. In Game Geek we prioritize our user's safety. Therefore, we aim to help users find video games that suit their age group. </p>

						<!--<a href="{% url 'about' %}" class="boxed-btn mt-4">know more</a>-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row" id="footer">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">Our Guarantee</h2>
						<p>At Game Geek, we combine entertainment along with safeguarding. We're committed to enhancing the game-finding experience by expertly tailoring it to your age and preferences as a cutting-edge platform.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li><a href="mailto:support@gamegeek.com" class="mail">
								<i class="fas fa-envelope"></i>&#160;&#160;GameGeekWebsite@gmail.com
							</a></li>
							<li>
								<a href="https://www.instagram.com/Game_Geek2023" target="_blank">
								  <i class="fab fa-instagram"></i>&#160;&#160; Game_Geek2023
								</a>
							</li>
							<li>
								<a href="https://www.X.com/Game_Geek2023" target="_blank">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" version="1.1" width="13" height="13" class="X">
									<path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z" fill="white"/>
									</svg>&#160;&#160; <span style="position: relative; top: 2px;">Game_Geek2023</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul class= "outerList">
							<details><summary><li class="gmaes">Games</li></summary>
								<ul class="innerList">
									<li class="dash"><a href="{% url 'index' %}">All Games</a></li>
									<li class="dash"><a href="{% url 'index' %}">Favourite Games</a></li>
									<li class="dash"><a href="{% url 'index' %}">Recently Downloaded Games</a></li>
								</ul></details>
							<li class="dash"><a href="{% url 'index' %}">Profile</a></li>
							<li class="dash"><a href="{% url 'index' %}">Contact Us</a></li>
							<li class="dash"><a href="{% url 'index' %}">About Us</a></li>
						</ul>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2023 GameGeek Rights Reserved.<br>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static '/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static '/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static '/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static '/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static '/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static '/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static '/js/jquery.sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static '/js/main.js' %}"></script>

</body>
{% endblock %}
</html>